Repository adafruit/circuitpython, pull requests merged in 2018-06, with the labels that each got.

#890 Support brownout to safe mode. Fixes #870
  ports/atmel-samd/supervisor/port.c
Labels: atmel-samd, supervisor

#889 Turn off timer on AudioOut deinit.
  ports/atmel-samd/common-hal/audioio/AudioOut.c
Labels: atmel-samd, bug, circuitpython api

#892 Use the external crystal on SAMD21 again.
  ports/atmel-samd/peripherals/clocks.h
  ports/atmel-samd/peripherals/samd21/clocks.c
  ports/atmel-samd/peripherals/samd51/clocks.c
  ports/atmel-samd/supervisor/filesystem.c
  ports/atmel-samd/supervisor/port.c
Labels: atmel-samd, enhancement

#901 Prevent freezing USB during high frequency PulseIn.
  ports/atmel-samd/background.c
  ports/atmel-samd/background.h
  ports/atmel-samd/bindings/samd/Clock.c
  ports/atmel-samd/bindings/samd/Clock.h
  ports/atmel-samd/boards/arduino_zero/mpconfigboard.h
  ports/atmel-samd/boards/circuitplayground_express/mpconfigboard.h
  ports/atmel-samd/boards/circuitplayground_express_crickit/mpconfigboard.h
  ports/atmel-samd/boards/feather_m0_adalogger/mpconfigboard.h
  ports/atmel-samd/boards/feather_m0_basic/mpconfigboard.h
  ports/atmel-samd/boards/feather_m0_express/mpconfigboard.h
  ports/atmel-samd/boards/feather_m0_rfm69/mpconfigboard.h
  ports/atmel-samd/boards/feather_m0_rfm9x/mpconfigboard.h
  ports/atmel-samd/boards/feather_m0_supersized/mpconfigboard.h
  ports/atmel-samd/boards/feather_m4_express/mpconfigboard.h
  ports/atmel-samd/boards/gemma_m0/mpconfigboard.h
  ports/atmel-samd/boards/itsybitsy_m0_express/mpconfigboard.h
  ports/atmel-samd/boards/itsybitsy_m4_express/mpconfigboard.h
  ports/atmel-samd/boards/metro_m0_express/mpconfigboard.h
  ports/atmel-samd/boards/metro_m4_express/mpconfigboard.h
  ports/atmel-samd/boards/trinket_m0/mpconfigboard.h
  ports/atmel-samd/boards/trinket_m0_haxpress/mpconfigboard.h
  ports/atmel-samd/boards/ugame10/mpconfigboard.h
  ports/atmel-samd/common-hal/microcontroller/__init__.c
  ports/atmel-samd/common-hal/pulseio/PulseIn.c
  ports/atmel-samd/common-hal/pulseio/PulseIn.h
  ports/atmel-samd/peripherals/samd21/clocks.c
  ports/atmel-samd/tick.c
  ports/nrf/common-hal/pulseio/PulseIn.c
  shared-bindings/pulseio/PulseIn.c
  shared-bindings/pulseio/PulseIn.h
  tools/chart_code_size.py
Labels: atmel-samd, bug

#928 Correct UART reads to return error on timeout.
  ports/atmel-samd/common-hal/busio/UART.c
Labels: atmel-samd, bug

#939 Add auto-build for nrf52840 development kit, PCA10056
  .travis.yml
  tools/build_adafruit_bins.sh
Labels: enhancement, nrf52

#945 Switch to Feather52s full name to avoid confusion with the nrf52840 later
  .travis.yml
  ports/nrf/boards/feather52832/README.md
  ports/nrf/boards/feather52832/board.c
  ports/nrf/boards/feather52832/bootloader/.gitattributes
  ports/nrf/boards/feather52832/bootloader/README.md
  ports/nrf/boards/feather52832/bootloader/feather52_bootloader_2.0.1_s132_single.zip
  ports/nrf/boards/feather52832/bootloader/feather52_bootloader_5.0.0_s132_single.zip
  ports/nrf/boards/feather52832/custom_nrf52832_dfu_app_2.0.1.ld
  ports/nrf/boards/feather52832/custom_nrf52832_dfu_app_5.0.0.ld
  ports/nrf/boards/feather52832/examples/ble_scan.py
  ports/nrf/boards/feather52832/examples/blinky.py
  ports/nrf/boards/feather52832/examples/i2c_scan.py
  ports/nrf/boards/feather52832/examples/pulseio.py
  ports/nrf/boards/feather52832/mpconfigboard.h
  ports/nrf/boards/feather52832/mpconfigboard.mk
  ports/nrf/boards/feather52832/mpconfigboard_s132.mk
  ports/nrf/boards/feather52832/nrf52_hal_conf.h
  ports/nrf/boards/feather52832/pins.csv
  tools/build_adafruit_bins.sh
Labels: nrf52

#946 nrf: Use the production version of s140 6.0.0
  ports/nrf/boards/feather52840/mpconfigboard_s140.mk
  ports/nrf/boards/nrf52840_1M_256k_s140_6.0.0.ld
  ports/nrf/boards/pca10056/mpconfigboard.mk
  ports/nrf/boards/pca10056/mpconfigboard_s140.mk
  ports/nrf/drivers/bluetooth/ble_drv.c
  ports/nrf/drivers/bluetooth/bluetooth_common.mk
  ports/nrf/drivers/bluetooth/download_ble_stack.sh
Labels: nrf52

#961 nrf: Remove unused hal files
  ports/nrf/Makefile
  ports/nrf/hal/hal_qspie.c
  ports/nrf/hal/hal_qspie.h
  ports/nrf/hal/hal_rtc.c
  ports/nrf/hal/hal_rtc.h
  ports/nrf/hal/hal_temp.c
  ports/nrf/hal/hal_temp.h
  ports/nrf/hal/hal_twie.c
Labels: nrf52

#960 nrf: Remove leftovers from stm32 code copy
  ports/nrf/mphalport.c
Labels: nrf52

#959 nrf: Rewrite the SPI common-hal using nrfx
  ports/nrf/Makefile
  ports/nrf/common-hal/busio/SPI.c
  ports/nrf/common-hal/busio/SPI.h
  ports/nrf/device/compiler_abstraction.h
  ports/nrf/device/nrf.h
  ports/nrf/device/nrf52/nrf51_to_nrf52.h
  ports/nrf/device/nrf52/nrf51_to_nrf52840.h
  ports/nrf/device/nrf52/nrf52.h
  ports/nrf/device/nrf52/nrf52840.h
  ports/nrf/device/nrf52/nrf52840_bitfields.h
  ports/nrf/device/nrf52/nrf52_bitfields.h
  ports/nrf/device/nrf52/nrf52_name_change.h
  ports/nrf/device/nrf52/nrf52_to_nrf52840.h
  ports/nrf/device/nrf52/system_nrf52.h
  ports/nrf/device/nrf52/system_nrf52832.c
  ports/nrf/device/nrf52/system_nrf52840.c
  ports/nrf/device/nrf52/system_nrf52840.h
  ports/nrf/hal/hal_spi.c
  ports/nrf/hal/hal_spi.h
  ports/nrf/hal/hal_spie.c
  ports/nrf/nrfx_config.h
  ports/nrf/nrfx_glue.h
  ports/nrf/nrfx_log.h
Labels: nrf52

#966 nrf: Rewrite the AnalogIn common-hal using nrfx
  ports/nrf/Makefile
  ports/nrf/common-hal/analogio/AnalogIn.c
  ports/nrf/common-hal/analogio/AnalogIn.h
  ports/nrf/hal/hal_adc.c
  ports/nrf/hal/hal_adc.h
  ports/nrf/hal/hal_adce.c
  ports/nrf/hal/hal_gpio.c
  ports/nrf/hal/hal_irq.h
  ports/nrf/hal/hal_pwm.c
  ports/nrf/hal/hal_pwm.h
  ports/nrf/hal/hal_timer.c
  ports/nrf/hal/hal_timer.h
  ports/nrf/hal/hal_twi.c
  ports/nrf/hal/hal_twi.h
  ports/nrf/hal/hal_uarte.c
Labels: nrf52

#967 nrf: Rewrite the os common-hal using nrfx
  ports/nrf/common-hal/os/__init__.c
Labels: nrf52

#968 nrf: Remove old qstr defines
  ports/nrf/qstrdefsport.h
Labels: nrf52

#969 nrf: Rewrite more common-hal with nrfx and sync with atsamd port
  ports/nrf/common-hal/board/__init__.c
  ports/nrf/common-hal/microcontroller/__init__.c
  ports/nrf/common-hal/storage/__init__.c
  ports/nrf/common-hal/time/__init__.c
  ports/nrf/nrfx_glue.h
Labels: nrf52

#970 nrf: Remove unsupported softdevice defines
  ports/nrf/bluetooth_conf.h
Labels: nrf52
