Repository adafruit/circuitpython, pull requests merged in 2018-08, with the labels that each got.

#1079 Speed up QSTR creation by pre-filtering files before pre-processing.
  ports/atmel-samd/Makefile
  py/mkrules.mk
  py/py.mk
Labels: enhancement

#1057 Add basic memory allocation outside Python runtime
  main.c
  ports/atmel-samd/Makefile
  ports/atmel-samd/external_flash/external_flash.c
  ports/atmel-samd/mpconfigport.h
  ports/nrf/Makefile
  ports/nrf/mpconfigport.h
  shared-bindings/supervisor/__init__.c
  supervisor/memory.h
  supervisor/shared/memory.c
  supervisor/shared/stack.c
  supervisor/shared/stack.h
  supervisor/supervisor.mk
Labels: atmel-samd, memory optimization, nrf52, supervisor

#1096 Retune neopixel timings on SAMD51. They were too slow.
  ports/atmel-samd/common-hal/neopixel_write/__init__.c
Labels: atmel-samd, bug, circuitpython api

#1104 Fixes and translate more strings.
  extmod/vfs_fat.c
  lib/embed/abort_.c
  lib/utils/pyexec.c
  locale/circuitpython.pot
  locale/en_US.po
  locale/es.po
  ports/atmel-samd/Makefile
  ports/esp8266/esp8266_common.ld
  py/argcheck.c
  py/bc.c
  py/binary.c
  py/builtinevex.c
  py/builtinimport.c
  py/compile.c
  py/emitnative.c
  py/lexer.c
  py/makeqstrdata.py
  py/makeqstrdefs.py
  py/mkenv.mk
  py/mkrules.mk
  py/modmath.c
  py/modmicropython.c
  py/modthread.c
  py/moduerrno.c
  py/mperrno.h
  py/obj.c
  py/objarray.c
  py/objcomplex.c
  py/objdeque.c
  py/objdict.c
  py/objexcept.c
  py/objfloat.c
  py/objgenerator.c
  py/objint.c
  py/objint_longlong.c
  py/objint_mpz.c
  py/objlist.c
  py/objnamedtuple.c
  py/objobject.c
  py/objrange.c
  py/objset.c
  py/objslice.c
  py/objstr.c
  py/objstringio.c
  py/objstrunicode.c
  py/objtuple.c
  py/objtype.c
  py/parse.c
  py/parsenum.c
  py/persistentcode.c
  py/py.mk
  py/runtime.c
  py/sequence.c
  py/stream.c
  shared-bindings/microcontroller/Pin.c
Labels: internationalization

#1105 Fix translation newlines
  py/makeqstrdata.py
Labels: bug

#1116 Strings internationalization : french
  locale/fr.po
Labels: internationalization

#1132 Speed up zero neopixel pulses.
  ports/atmel-samd/common-hal/neopixel_write/__init__.c
Labels: atmel-samd, bug

#1131 Support Hallowing in 3.x
  .travis.yml
  ports/atmel-samd/boards/hallowing_m0_express/board.c
  ports/atmel-samd/boards/hallowing_m0_express/mpconfigboard.h
  ports/atmel-samd/boards/hallowing_m0_express/mpconfigboard.mk
  ports/atmel-samd/boards/hallowing_m0_express/pins.c
  ports/atmel-samd/external_flash/devices.h
  tools/build_adafruit_bins.sh
Labels: atmel-samd
