Repository adafruit/circuitpython, pull requests merged in 2018-03, with the labels that each got.

#654 Structify flash devices
  ports/atmel-samd/boards/circuitplayground_express/mpconfigboard.h
  ports/atmel-samd/boards/feather_m0_express/mpconfigboard.h
  ports/atmel-samd/boards/feather_m0_supersized/mpconfigboard.h
  ports/atmel-samd/boards/itsybitsy_m0_express/mpconfigboard.h
  ports/atmel-samd/boards/metro_m0_express/mpconfigboard.h
  ports/atmel-samd/boards/metro_m4_express/mpconfigboard.h
  ports/atmel-samd/boards/metro_m4_express_revb/mpconfigboard.h
  ports/atmel-samd/boards/trinket_m0_haxpress/mpconfigboard.h
  ports/atmel-samd/boards/ugame10/mpconfigboard.h
  ports/atmel-samd/external_flash/devices.h
  ports/atmel-samd/external_flash/devices/AT25DF081A.h
  ports/atmel-samd/external_flash/devices/GD25Q16C.h
  ports/atmel-samd/external_flash/devices/S25FL064L.h
  ports/atmel-samd/external_flash/devices/S25FL116K.h
  ports/atmel-samd/external_flash/devices/S25FL216K.h
  ports/atmel-samd/external_flash/devices/W25Q16FW.h
  ports/atmel-samd/external_flash/devices/W25Q32BV.h
  ports/atmel-samd/external_flash/devices/W25Q80DV.h
  ports/atmel-samd/external_flash/external_flash.c
  ports/atmel-samd/external_flash/external_flash.h
  ports/atmel-samd/external_flash/qspi_flash.c
Labels: atmel-samd

#663 Use DMA for long SPI transactions including those to the SPI Flash.
  ports/atmel-samd/Makefile
  ports/atmel-samd/boards/itsybitsy_m0_express/mpconfigboard.h
  ports/atmel-samd/boards/metro_m4_express_revb/mpconfigboard.h
  ports/atmel-samd/common-hal/busio/SPI.c
  ports/atmel-samd/external_flash/external_flash.c
  ports/atmel-samd/external_flash/qspi_flash.c
  ports/atmel-samd/external_flash/spi_flash.c
  ports/atmel-samd/shared_dma.c
  ports/atmel-samd/shared_dma.h
  ports/atmel-samd/supervisor/port.c
Labels: atmel-samd, core api

#677 Move usb read finish into interrupt.
  ports/atmel-samd/usb_mass_storage.c
Labels: atmel-samd, bug

#679 Check usb_busy up front in usb background function.
  ports/atmel-samd/usb_mass_storage.c
Labels: atmel-samd, bug

#678 Correct NO_TIMER index value for SAMD21.
  ports/atmel-samd/common-hal/busio/I2C.c
  ports/atmel-samd/common-hal/busio/SPI.c
  ports/atmel-samd/common-hal/busio/UART.c
  ports/atmel-samd/common-hal/microcontroller/Pin.h
  ports/atmel-samd/peripherals.h
  ports/atmel-samd/samd21_peripherals.c
  ports/atmel-samd/samd21_pins.c
  ports/atmel-samd/samd51_peripherals.c
  ports/atmel-samd/samd51_pins.c
Labels: atmel-samd, bug, core api

#692 Add support for the Metro M4 Rev F and make the SPI flash code more robust
  ports/atmel-samd/boards/metro_m4_express/mpconfigboard.h
  ports/atmel-samd/boards/metro_m4_express/pins.c
  ports/atmel-samd/external_flash/common_commands.h
  ports/atmel-samd/external_flash/external_flash.c
  ports/atmel-samd/external_flash/qspi_flash.c
  ports/atmel-samd/external_flash/spi_flash.c
  ports/atmel-samd/external_flash/spi_flash_api.h
Labels: atmel-samd

#700 Update USB PID
  ports/atmel-samd/boards/feather_m4_express/mpconfigboard.mk
Labels: atmel-samd

#693 Implement * and *= for array.array
  py/objarray.c
  tests/basics/array_mul.py
Labels: core api, enhancement

#697 extmod/vfs_fat_file: Implement SEEK_CUR for non-zero offset.
  extmod/vfs_fat_file.c
  tests/extmod/vfs_fat_fileio1.py
  tests/extmod/vfs_fat_fileio1.py.exp
Labels: core api, enhancement

#719 Fix I2C init hang when the SCL pin is pulled low.
  ports/atmel-samd/common-hal/busio/I2C.c
Labels: atmel-samd, crash
