Repository adafruit/circuitpython, pull requests merged in 2018-04, with the labels that each got.

#750 Prevent a heap pointer from living on the stack longer than we need.
  lib/utils/pyexec.c
Labels: core api, memory optimization

#749 Fix rom qstr pool length.
  tools/analyze_heap_dump.py
Labels: enhancement, memory optimization

#755 Add initial ItsyBitsy M4 support
  .travis.yml
  ports/atmel-samd/boards/itsybitsy_m4_express/board.c
  ports/atmel-samd/boards/itsybitsy_m4_express/mpconfigboard.h
  ports/atmel-samd/boards/itsybitsy_m4_express/mpconfigboard.mk
  ports/atmel-samd/boards/itsybitsy_m4_express/pins.c
  tools/build_adafruit_bins.sh
Labels: atmel-samd, enhancement

#757 Fix the status neopixel flashing.
  main.c
  supervisor/shared/rgb_led_status.c
Labels: bug, supervisor

#764 Turn on nvm in 3.0.
  ports/atmel-samd/Makefile
  ports/atmel-samd/boards/circuitplayground_express/mpconfigboard.h
  ports/atmel-samd/boards/feather_m0_express/mpconfigboard.h
  ports/atmel-samd/boards/feather_m0_supersized/mpconfigboard.h
  ports/atmel-samd/boards/feather_m4_express/mpconfigboard.h
  ports/atmel-samd/boards/itsybitsy_m0_express/mpconfigboard.h
  ports/atmel-samd/boards/itsybitsy_m4_express/mpconfigboard.h
  ports/atmel-samd/boards/metro_m0_express/mpconfigboard.h
  ports/atmel-samd/boards/metro_m4_express/mpconfigboard.h
  ports/atmel-samd/boards/metro_m4_express_revb/mpconfigboard.h
  ports/atmel-samd/boards/samd51x18-bootloader-external-flash.ld
  ports/atmel-samd/boards/samd51x19-bootloader-external-flash.ld
  ports/atmel-samd/boards/samd51x19-bootloader.ld
  ports/atmel-samd/boards/samd51x20-bootloader-external-flash.ld
  ports/atmel-samd/boards/samd51x20-bootloader.ld
  ports/atmel-samd/boards/samd51x20-external-flash.ld
  ports/atmel-samd/boards/samd51x20.ld
  ports/atmel-samd/boards/trinket_m0_haxpress/mpconfigboard.h
  ports/atmel-samd/boards/ugame10/mpconfigboard.h
  ports/atmel-samd/clocks.c
  ports/atmel-samd/common-hal/microcontroller/__init__.c
  ports/atmel-samd/common-hal/nvm/ByteArray.c
  ports/atmel-samd/supervisor/port.c
  shared-bindings/nvm/ByteArray.c
Labels: atmel-samd, core api

#773 Remove Rev B Metro M4 from Travis build.
  .travis.yml
Labels: atmel-samd

#772 atmel-samd: Fix M4 RTC and ItsyBitsy M4 definition
  ports/atmel-samd/asf4_conf/samd51/hpl_osc32kctrl_config.h
  ports/atmel-samd/boards/itsybitsy_m4_express/mpconfigboard.h
Labels: atmel-samd, bug

#779 Replace MicroPython logos with CircuitPython logos
  logo/1bit-logo.png
  logo/FONT-LICENSE.txt
  logo/adafruit_blinka_angles-back.svg
  logo/adafruit_blinka_angles-front.svg
  logo/adafruit_blinka_angles-left.svg
  logo/adafruit_blinka_angles-right.svg
  logo/adafruit_blinka_computer.svg
  logo/adafruit_circuit_python_ourboros_color.svg
  logo/adafruit_circuit_python_ouroboros_logo_final.svg
  logo/adafruit_circuit_python_sitting_color.svg
  logo/adafruit_circuit_python_stacked_lockup_logo_final.svg
  logo/awesome_circuitpython.svg
  logo/blinka_colorform-cooking.png
  logo/blinka_colorform-cooking.svg
  logo/blinka_colorform-first-birthday.svg
  logo/blinka_colorform-painting.svg
  logo/blinka_colorform-reading.svg
  logo/blinka_colorform-singing.svg
  logo/blinka_colorform-telescope.svg
  logo/blinka_colorform-test_tubes.svg
  logo/logo.jpg
  logo/micropythonpowered-art.png
  logo/trans-logo.png
  logo/upython-with-micro.jpg
  logo/upython-with-micro.png
  logo/vector-logo-2-BW.svg
  logo/vector-logo-2.png
  logo/vector-logo-3.png
  logo/vector-logo-R2000.dxf
  logo/vector-logo-inkscape_master.svg
  logo/vector-logo.svg
  logo/vector-text-R2000.dxf
  logo/vector-text.svg
Labels: documentation

#780 Fix GPIO16 Board Reset; Updated Usage
  ports/esp8266/common-hal/analogio/AnalogIn.c
  ports/esp8266/common-hal/digitalio/DigitalInOut.c
  ports/esp8266/common-hal/microcontroller/Pin.c
  ports/esp8266/common-hal/microcontroller/Pin.h
Labels: bug, crash, esp8266
