Repository adafruit/circuitpython, pull requests merged in 2018-11, with the labels that each got.

#1325 Fix output overflow and make help translatable
  lib/utils/stdout_helpers.c
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/pt_BR.po
  ports/atmel-samd/mpconfigport.h
  ports/nrf/mpconfigport.h
  py/builtinhelp.c
  py/makeqstrdata.py
  shared-bindings/help.c
  supervisor/shared/serial.c
Labels: atmel-samd, bug, nrf52

#1331 Switch SAMD51 back to -Os
  ports/atmel-samd/Makefile
  ports/atmel-samd/common-hal/neopixel_write/__init__.c
Labels: atmel-samd, bug

#1332 Clear Trellis NeoPixels on board reset.
  ports/atmel-samd/boards/trellis_m4_express/board.c
Labels: atmel-samd, enhancement

#1338 Fix nrf internal flash
  ports/atmel-samd/supervisor/internal_flash.c
  ports/atmel-samd/supervisor/internal_flash.h
  ports/nrf/supervisor/internal_flash.h
  supervisor/shared/external_flash/external_flash.c
  supervisor/shared/filesystem.c
  supervisor/shared/flash.c
Labels: bug, nrf52

#1354 A few fixes for nRF52840 feather QSPI and neopixel
  ports/nrf/boards/feather_nrf52840_express/mpconfigboard.h
  ports/nrf/boards/feather_nrf52840_express/mpconfigboard.mk
  ports/nrf/common-hal/microcontroller/Pin.c
  ports/nrf/common-hal/neopixel_write/__init__.c
Labels: bug, nrf52

#1358 Fix QSPI on Feather nRF52840
  ports/nrf/boards/feather_nrf52840_express/mpconfigboard.mk
  ports/nrf/supervisor/qspi_flash.c
  supervisor/shared/external_flash/devices.h
Labels: bug, nrf52

#1351 json: enable on nrf boards and "large flash" M4 samd boards
  ports/atmel-samd/mpconfigport.h
  ports/nrf/mpconfigport.h
Labels: cpython api, enhancement
