Repository adafruit/circuitpython, pull requests merged in 2018-10, with the labels that each got.

#1225 String internationalization for Brazilian Portuguese
  locale/pt_BR.po
Labels: internationalization

#1227 Update Trellis M4 Express for Rev C
  ports/atmel-samd/boards/trellis_m4_express/mpconfigboard.h
  ports/atmel-samd/external_flash/devices.h
Labels: atmel-samd, enhancement

#1263 Support rev D for the Trellis M4 Express
  ports/atmel-samd/boards/trellis_m4_express/mpconfigboard.h
  ports/atmel-samd/boards/trellis_m4_express/pins.c
Labels: atmel-samd, enhancement

#1275 Added board Meow Meow by Electronic Cats
  .travis.yml
  ports/atmel-samd/boards/meowmeow/board.c
  ports/atmel-samd/boards/meowmeow/mpconfigboard.h
  ports/atmel-samd/boards/meowmeow/mpconfigboard.mk
  ports/atmel-samd/boards/meowmeow/pins.c
  tools/build_adafruit_bins.sh
Labels: atmel-samd, enhancement

#1280 Ramp values to and from a default value while active.
  ports/atmel-samd/common-hal/analogio/AnalogOut.c
  ports/atmel-samd/common-hal/audioio/AudioOut.c
  ports/atmel-samd/common-hal/audioio/AudioOut.h
  ports/atmel-samd/supervisor/port.c
  shared-bindings/audioio/AudioOut.c
  shared-bindings/audioio/AudioOut.h
Labels: atmel-samd, cpython api, enhancement

#1288 [locale\es] Keep already translated strings up to date
  locale/es.po
Labels: internationalization

#1256 [Spanish - WIP] Translation of Unix/py directories
  locale/es.po
Labels: help wanted, internationalization

#1286 Add support for MakerDiary nRF52840 MDK board
  .travis.yml
  ports/nrf/Makefile
  ports/nrf/README.md
  ports/nrf/boards/makerdiary_nrf52840_mdk/README.md
  ports/nrf/boards/makerdiary_nrf52840_mdk/board.c
  ports/nrf/boards/makerdiary_nrf52840_mdk/mpconfigboard.h
  ports/nrf/boards/makerdiary_nrf52840_mdk/mpconfigboard.mk
  ports/nrf/boards/makerdiary_nrf52840_mdk/pins.c
  tools/build_adafruit_bins.sh
Labels: nrf52

#1282 Add debug info to the generated frozen_mpy.c
  py/mkenv.mk
  py/mkrules.mk
  tools/mpy-tool.py
Labels: enhancement, tooling
