Repository adafruit/circuitpython, pull requests merged in 2019-02, with the labels that each got.

#1513 Add support for display rotation and raw commands
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/pt_BR.po
  ports/atmel-samd/boards/hallowing_m0_express/board.c
  ports/atmel-samd/boards/pyportal/board.c
  shared-bindings/displayio/Display.c
  shared-bindings/displayio/Display.h
  shared-bindings/displayio/FourWire.c
  shared-bindings/displayio/ParallelBus.c
  shared-module/displayio/Display.c
  shared-module/displayio/Display.h
  shared-module/displayio/__init__.c
  supervisor/shared/display.c
Labels: displayio

#1515 Fix a couple long live issues
  py/gc_long_lived.c
  py/objtype.c
  tools/analyze_heap_dump.py
Labels: bug

#1519 Add fast seek support and turn on auto brightness by default
  extmod/vfs_fat_file.c
  lib/oofatfs/ffconf.h
  ports/atmel-samd/boards/hallowing_m0_express/board.c
  ports/atmel-samd/boards/pyportal/board.c
Labels: bug, displayio

#1546 A safe mode fix and displayio fixes
  main.c
  ports/atmel-samd/supervisor/port.c
  shared-bindings/displayio/Group.c
  shared-module/displayio/Group.c
  shared-module/displayio/TileGrid.c
Labels: bug, displayio

#1548 Arg check width and height into Shape.
  shared-bindings/bleio/CharacteristicBuffer.c
  shared-bindings/displayio/Shape.c
Labels: bug, crash, displayio

#1544 extmod/ure: Extend functionality
  extmod/modure.c
  extmod/re1.5/compilecode.c
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/pt_BR.po
  ports/atmel-samd/mpconfigport.h
  py/mpconfig.h
  py/objstr.c
  py/objstr.h
  py/objstrunicode.c
  tests/extmod/ure1.py
  tests/extmod/ure_groups.py
  tests/extmod/ure_span.py
  tests/extmod/ure_sub.py
  tests/extmod/ure_sub_unmatched.py
  tests/extmod/ure_sub_unmatched.py.exp
Labels: cpython api, enhancement

#1555 Support print("", flush=True)
  lib/utils/sys_stdio_mphal.c
  py/modbuiltins.c
  py/stream.c
  py/stream.h
Labels: cpython api, enhancement

#1553 Store the original layer in Group
  shared-module/displayio/Group.c
  shared-module/displayio/Group.h
  supervisor/shared/display.c
Labels: bug, displayio

#1552 Fix displaying images off of SD cards.
  extmod/vfs_fat_file.c
  main.c
  ports/atmel-samd/boards/pyportal/board.c
  py/circuitpy_mpconfig.h
  py/runtime.c
  shared-module/displayio/__init__.c
  supervisor/shared/filesystem.c
Labels: bug, displayio, supervisor

#1585 Tweak the backlight PWM rate to be higher than audio range
  shared-module/displayio/Display.c
Labels: displayio

#1558 initial support for additional bitdepths in OnDiskBitmap
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/pt_BR.po
  ports/atmel-samd/boards/hallowing_m0_express/mpconfigboard.mk
  shared-module/displayio/OnDiskBitmap.c
  shared-module/displayio/OnDiskBitmap.h
Labels: displayio, enhancement
