Repository adafruit/circuitpython, pull requests merged in 2019-07, with the labels that each got.

#1979 Use FONTBOUNDINGBOX for font metrics
  tools/gen_display_resources.py
Labels: displayio

#1983 Fix Group subscr to detect delete correctly
  shared-bindings/displayio/Group.c
Labels: bug, displayio

#1999 Track a dirty area for in-memory bitmaps
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/en_x_pirate.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/pl.po
  locale/pt_BR.po
  locale/zh_Latn_pinyin.po
  shared-bindings/displayio/TileGrid.c
  shared-bindings/displayio/TileGrid.h
  shared-module/displayio/Bitmap.c
  shared-module/displayio/Bitmap.h
  shared-module/displayio/TileGrid.c
  shared-module/displayio/TileGrid.h
  supervisor/shared/display.h
  tools/gen_display_resources.py
Labels: bug, displayio, enhancement

#2011 Add knobs for SSD1322 and two displayio fixes.
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/en_x_pirate.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/pl.po
  locale/pt_BR.po
  locale/zh_Latn_pinyin.po
  ports/atmel-samd/boards/hallowing_m0_express/board.c
  ports/atmel-samd/boards/pybadge/board.c
  ports/atmel-samd/boards/pybadge_airlift/board.c
  ports/atmel-samd/boards/pygamer/board.c
  ports/atmel-samd/boards/pygamer_advance/board.c
  ports/atmel-samd/boards/pyportal/board.c
  ports/atmel-samd/boards/ugame10/board.c
  shared-bindings/displayio/Display.c
  shared-bindings/displayio/Display.h
  shared-module/displayio/Display.c
  shared-module/displayio/Palette.h
  shared-module/displayio/TileGrid.c
  shared-module/displayio/__init__.c
  supervisor/shared/display.c
Labels: displayio, enhancement

#2026 Fix missing write_ram_command in _stage
  shared-bindings/_stage/__init__.c
Labels: bug, displayio
