Repository adafruit/circuitpython, pull requests merged in 2019-11, with the labels that each got.

#2252 nrf: allocate two I2C on CPB
  ports/atmel-samd/common-hal/busio/I2C.c
  ports/nrf/boards/arduino_nano_33_ble/mpconfigboard.mk
  ports/nrf/boards/circuitplayground_bluefruit/mpconfigboard.mk
  ports/nrf/common-hal/busio/I2C.c
  ports/nrf/nrfx_config.h
  shared-bindings/busio/I2C.c
  shared-bindings/busio/SPI.c
Labels: nrf52

#2286 STM32: Raise clock speed of F405
  ports/stm32f4/peripherals/stm32f4/stm32f405xx/clocks.c
Labels: stm

#2290 Add pin reset and never reset to common-hal
  ports/atmel-samd/common-hal/microcontroller/Pin.c
  ports/nrf/common-hal/microcontroller/Pin.c
  ports/stm32f4/common-hal/microcontroller/Pin.c
  shared-bindings/microcontroller/Pin.h
  shared-module/displayio/Display.c
  shared-module/displayio/EPaperDisplay.c
  shared-module/displayio/FourWire.c
  shared-module/displayio/I2CDisplay.c
  supervisor/shared/rgb_led_status.c
Labels: circuitpython api

#2300 STM32: implement OS urandom
  ports/stm32f4/boards/feather_stm32f405_express/stm32f4xx_hal_conf.h
  ports/stm32f4/boards/pyboard_v11/stm32f4xx_hal_conf.h
  ports/stm32f4/boards/stm32f412zg_discovery/stm32f4xx_hal_conf.h
  ports/stm32f4/common-hal/os/__init__.c
  ports/stm32f4/peripherals/stm32f4/periph.h
Labels: stm

#2307 STM32: SPI clock rate fix and cleanup
  ports/stm32f4/common-hal/busio/SPI.c
Labels: stm

#2311 Use BluetoothError in _bleio
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/en_x_pirate.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/ko.po
  locale/pl.po
  locale/pt_BR.po
  locale/zh_Latn_pinyin.po
  ports/nrf/common-hal/_bleio/Adapter.c
  ports/nrf/common-hal/_bleio/Characteristic.c
  ports/nrf/common-hal/_bleio/Connection.c
  ports/nrf/common-hal/_bleio/Connection.h
  ports/nrf/common-hal/_bleio/Service.c
  ports/nrf/common-hal/_bleio/UUID.c
  ports/nrf/common-hal/_bleio/__init__.c
  ports/nrf/common-hal/_bleio/__init__.h
  py/runtime.c
  shared-bindings/_bleio/Adapter.c
  shared-bindings/_bleio/Characteristic.c
  shared-bindings/_bleio/CharacteristicBuffer.c
  shared-bindings/_bleio/Connection.c
  shared-bindings/_bleio/Descriptor.c
  shared-bindings/_bleio/Service.c
  shared-bindings/_bleio/__init__.c
  shared-bindings/_bleio/__init__.h
Labels: circuitpython api, enhancement, nrf52

#2313 Re-add pairing support
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/en_x_pirate.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/ko.po
  locale/pl.po
  locale/pt_BR.po
  locale/zh_Latn_pinyin.po
  ports/nrf/common-hal/_bleio/Adapter.c
  ports/nrf/common-hal/_bleio/Connection.c
  ports/nrf/common-hal/_bleio/__init__.c
  shared-bindings/_bleio/Adapter.c
  shared-bindings/_bleio/Adapter.h
  shared-bindings/_bleio/Characteristic.c
  shared-bindings/_bleio/Connection.c
  shared-bindings/_bleio/Connection.h
Labels: circuitpython api, enhancement, nrf52

#2330 Fix ePaper so it works after a GC.
  shared-module/displayio/EPaperDisplay.c
Labels: bug, circuitpython api, displayio
