Repository adafruit/circuitpython, pull requests merged in 2019-03, with the labels that each got.

#1624 Add translation file locations back.
  Makefile
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/en_x_pirate.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/pt_BR.po
Labels: internationalization, tooling

#1637 Update board info build to handle top level list.
  tools/build_board_info.py
Labels: enhancement, tooling

#1640 Final displayio changes before 4.0.0
  .travis.yml
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/en_x_pirate.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/pt_BR.po
  ports/atmel-samd/boards/feather_m0_express/mpconfigboard.mk
  ports/atmel-samd/boards/metro_m0_express/mpconfigboard.mk
  shared-bindings/_pew/PewPew.c
  shared-bindings/displayio/FourWire.c
  shared-bindings/displayio/Group.c
  shared-bindings/displayio/Group.h
  shared-bindings/displayio/ParallelBus.c
  shared-bindings/displayio/TileGrid.c
  shared-bindings/displayio/TileGrid.h
  shared-bindings/displayio/__init__.c
  shared-module/_pew/PewPew.c
  shared-module/displayio/Group.c
  shared-module/displayio/Group.h
  shared-module/displayio/TileGrid.c
  shared-module/terminalio/Terminal.c
Labels: bug, displayio, enhancement

#1645 Fix directory move into itself and prevent more fs changes when read-only
  extmod/vfs_fat.c
  ports/atmel-samd/boards/feather_m0_express_crickit/mpconfigboard.mk
Labels: bug, cpython api

#1647 Fix custom pin in use logic for SWD
  ports/atmel-samd/common-hal/microcontroller/Pin.c
Labels: bug

#1648 Long live shared bus singletons
  supervisor/shared/board_busses.c
Labels: bug, circuitpython api, crash

#1711 Make status LED brightness change immediate.
  supervisor/shared/rgb_led_status.c
Labels: bug, supervisor

#1721 Fix HID buffer lookup
  shared-module/usb_hid/Device.c
Labels: bug, usb

#1685 Added option to enable toggling CS between init commands
  shared-module/displayio/FourWire.c
Labels: displayio

#1708 Added option to allow Displays with Single Byte Boundaries
  ports/atmel-samd/boards/hallowing_m0_express/board.c
  ports/atmel-samd/boards/pybadge/board.c
  ports/atmel-samd/boards/pyportal/board.c
  shared-bindings/displayio/Display.c
  shared-bindings/displayio/Display.h
  shared-module/displayio/Display.c
  shared-module/displayio/Display.h
Labels: displayio
