Repository adafruit/circuitpython, pull requests merged in 2020-08, with the labels that each got.

#3246 RTD: Set Version/Release For Sphinx
  .gitignore
  conf.py
Labels: documentation

#3191 stm32: Implement sdioio, enable for feather stm32f405 express
  locale/ID.po
  locale/circuitpython.pot
  locale/cs.po
  locale/de_DE.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/hi.po
  locale/it_IT.po
  locale/ko.po
  locale/nl.po
  locale/pl.po
  locale/pt_BR.po
  locale/sv.po
  locale/zh_Latn_pinyin.po
  ports/atmel-samd/Makefile
  ports/atmel-samd/tools/mksdiodata.py
  ports/stm/boards/feather_stm32f405_express/pins.c
  ports/stm/common-hal/busio/I2C.c
  ports/stm/common-hal/busio/SPI.c
  ports/stm/common-hal/busio/UART.c
  ports/stm/common-hal/sdioio/SDCard.c
  ports/stm/common-hal/sdioio/SDCard.h
  ports/stm/common-hal/sdioio/__init__.c
  ports/stm/common-hal/sdioio/__init__.h
  ports/stm/hal_conf/stm32_hal_conf.h
  ports/stm/mpconfigport.mk
  ports/stm/peripherals/stm32f4/stm32f405xx/periph.c
  ports/stm/peripherals/stm32f4/stm32f405xx/periph.h
  ports/stm/supervisor/port.c
Labels: enhancement, stm

#3256 Add Internal Links To Boards In The Support Matrix
  shared-bindings/support_matrix.rst
Labels: documentation

#3262 Fix writing sector 0 as the first write.
  ports/esp32s2/supervisor/internal_flash.c
Labels: bug, esp32s2

#3280 ESP32-S2: Add Neopixel to Wroom
  ports/esp32s2/boards/espressif_saola_1_wroom/pins.c
Labels: esp32s2

#3286 Build PDF Docs on RTD
  .github/workflows/build.yml
  .readthedocs.yml
  docs/rstjinja.py
Labels: documentation

#3295 Turn off terminalio for ja and ko
  ports/atmel-samd/mpconfigport.mk
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.h
  py/circuitpy_mpconfig.mk
  supervisor/shared/display.c
  supervisor/shared/display.h
  supervisor/shared/serial.c
  supervisor/supervisor.mk
Labels: displayio, enhancement, internationalization, memory optimization

#3279 ESP32-S2: Add PulseOut and PulseIn
  locale/circuitpython.pot
  ports/atmel-samd/common-hal/pulseio/PulseOut.c
  ports/cxd56/common-hal/pulseio/PulseOut.c
  ports/esp32s2/background.c
  ports/esp32s2/common-hal/neopixel_write/__init__.c
  ports/esp32s2/common-hal/pulseio/PulseIn.c
  ports/esp32s2/common-hal/pulseio/PulseIn.h
  ports/esp32s2/common-hal/pulseio/PulseOut.c
  ports/esp32s2/common-hal/pulseio/PulseOut.h
  ports/esp32s2/mpconfigport.h
  ports/esp32s2/peripherals/rmt.c
  ports/esp32s2/peripherals/rmt.h
  ports/esp32s2/supervisor/port.c
  ports/mimxrt10xx/common-hal/pulseio/PulseOut.c
  ports/nrf/common-hal/pulseio/PulseOut.c
  ports/stm/common-hal/pulseio/PulseOut.c
  shared-bindings/pulseio/PulseOut.c
  shared-bindings/pulseio/PulseOut.h
Labels: esp32s2

#3275 Add `bitmap.blit` command for bitmap copy
  locale/circuitpython.pot
  shared-bindings/displayio/Bitmap.c
  shared-bindings/displayio/Bitmap.h
  shared-module/displayio/Bitmap.c
Labels: displayio, enhancement

#3325 ESP32-S2: Enable ulab
  ports/esp32s2/mpconfigport.mk
Labels: esp32s2

#3333 Fix all assignments affected by inline makefile comments
  docs/porting.rst
  ports/esp32s2/mpconfigport.mk
  ports/stm/boards/espruino_pico/mpconfigboard.mk
  ports/stm/boards/feather_stm32f405_express/mpconfigboard.mk
  ports/stm/boards/meowbit_v121/mpconfigboard.mk
  tools/mpconfig_category_reader.py
Labels: esp32s2, stm

#3315 Add PSRAM support to ESP32S2
  main.c
  ports/esp32s2/boards/espressif_saola_1_wrover/sdkconfig
  ports/esp32s2/boards/unexpectedmaker_feathers2/sdkconfig
  ports/esp32s2/supervisor/port.c
Labels: enhancement, esp32s2

#3324 Add random to ESP32-S2, fix it on STM32
  ports/esp32s2/common-hal/os/__init__.c
  ports/esp32s2/mpconfigport.mk
  ports/stm/common-hal/os/__init__.c
Labels: esp32s2, stm

#3320 STM32: Fix Meowbit startup and associated bugs
  ports/stm/boards/meowbit_v121/board.c
  ports/stm/boards/meowbit_v121/mpconfigboard.h
  ports/stm/boards/meowbit_v121/mpconfigboard.mk
  ports/stm/common-hal/pwmio/PWMOut.c
  ports/stm/peripherals/stm32f4/clocks.c
  ports/stm/peripherals/stm32f7/clocks.c
  ports/stm/peripherals/stm32h7/clocks.c
Labels: stm

#3346 Add Kaluga board definition
  .github/workflows/build.yml
  ports/esp32s2/boards/espressif_kaluga_1/board.c
  ports/esp32s2/boards/espressif_kaluga_1/mpconfigboard.h
  ports/esp32s2/boards/espressif_kaluga_1/mpconfigboard.mk
  ports/esp32s2/boards/espressif_kaluga_1/pins.c
  ports/esp32s2/boards/espressif_kaluga_1/sdkconfig
Labels: enhancement, esp32s2
