Repository adafruit/circuitpython, pull requests merged in 2020-02, with the labels that each got.

#2592 Add another error message to BLE
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/en_x_pirate.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/ko.po
  locale/pl.po
  locale/pt_BR.po
  locale/zh_Latn_pinyin.po
  ports/nrf/common-hal/_bleio/Adapter.c
Labels: nrf52

#2614 Track first free atbs for multiple block sizes instead of just 1
  py/gc.c
  py/mpconfig.h
  py/mpstate.h
  tools/gc_activity.md
  tools/gc_activity_between_collects.py
  tools/output_gc_until_repl.txt
Labels: enhancement

#2629 Addition of RTS/CTS/RS485 capability
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/en_x_pirate.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/ko.po
  locale/pl.po
  locale/pt_BR.po
  locale/zh_Latn_pinyin.po
  ports/atmel-samd/common-hal/busio/UART.c
  ports/cxd56/common-hal/busio/UART.c
  ports/mimxrt10xx/boards/imxrt1020_evk/flash_config.c
  ports/mimxrt10xx/common-hal/busio/UART.c
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1011/periph.c
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1011/periph.h
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1021/periph.c
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1021/periph.h
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1062/periph.c
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1062/periph.h
  ports/mimxrt10xx/supervisor/flexspi_nor_flash_ops.c
  ports/nrf/common-hal/busio/UART.c
  ports/stm32f4/common-hal/busio/UART.c
  shared-bindings/busio/UART.c
  shared-bindings/busio/UART.h
  shared-module/board/__init__.c
Labels: circuitpython api, enhancement, mimxrt10xx

#2642 mimxrt10xx: Enable displayio
  ports/mimxrt10xx/background.c
  ports/mimxrt10xx/common-hal/displayio/ParallelBus.c
  ports/mimxrt10xx/common-hal/displayio/ParallelBus.h
  ports/mimxrt10xx/common-hal/microcontroller/Pin.c
  ports/mimxrt10xx/mpconfigport.mk
Labels: displayio, enhancement, mimxrt10xx

#2641 mimxrt10xx: Add Feather M7 1011 board config
  .github/workflows/build.yml
  ports/mimxrt10xx/boards/feather_m7_1011/board.c
  ports/mimxrt10xx/boards/feather_m7_1011/flash_config.c
  ports/mimxrt10xx/boards/feather_m7_1011/mpconfigboard.h
  ports/mimxrt10xx/boards/feather_m7_1011/mpconfigboard.mk
  ports/mimxrt10xx/boards/feather_m7_1011/pins.c
  ports/mimxrt10xx/linking/flash/W25Q32JV.ld
Labels: mimxrt10xx

#2644 Disable BLE file service for now
  py/circuitpy_mpconfig.mk
  supervisor/shared/bluetooth.c
Labels: nrf52

#2654 Fix crash after empty REPL session
  ports/nrf/common-hal/_bleio/Adapter.c
  ports/nrf/common-hal/_bleio/__init__.c
Labels: bug, crash, nrf52

#2653 Fix Mac crash when waking up with an ejected CIRCUITPY
  supervisor/shared/usb/usb_msc_flash.c
Labels: bug, crash, usb

#2659 Fix I2C clock divider
  ports/mimxrt10xx/common-hal/busio/I2C.c
Labels: mimxrt10xx
