Repository adafruit/circuitpython, pull requests merged in 2020-04, with the labels that each got.

#2747 mimxrt1011: Only re-init SPI when it's actually needed
  ports/mimxrt10xx/common-hal/busio/SPI.c
Labels: mimxrt10xx

#2749 Don't upgrade to Sphinx 3
  .github/workflows/build.yml
Labels: bug, tooling

#2753 Save backlight_on_high correctly.
  shared-module/displayio/Display.c
Labels: bug, displayio

#2789 Add support for nrf52833
  ports/nrf/Makefile
  ports/nrf/boards/common.template.ld
  ports/nrf/common-hal/_bleio/Adapter.c
  ports/nrf/common-hal/_bleio/Adapter.h
  ports/nrf/common-hal/microcontroller/__init__.c
  ports/nrf/device/nrf52/startup_nrf52833.c
  ports/nrf/ld_defines.c
  ports/nrf/mpconfigport.h
  ports/nrf/mpconfigport.mk
  ports/nrf/nrfx_config.h
  ports/nrf/peripherals/nrf/nrf52833/pins.c
  ports/nrf/peripherals/nrf/nrf52833/pins.h
  ports/nrf/peripherals/nrf/nrf52833/power.c
  ports/nrf/peripherals/nrf/pins.h
  ports/nrf/supervisor/port.c
  supervisor/shared/external_flash/devices.h
Labels: nrf52

#2832 STM32: Add the OpenMV-H7 R1 board
  .github/workflows/build.yml
  ports/stm/boards/openmv_h7/board.c
  ports/stm/boards/openmv_h7/mpconfigboard.h
  ports/stm/boards/openmv_h7/mpconfigboard.mk
  ports/stm/boards/openmv_h7/openmv.csv
  ports/stm/boards/openmv_h7/pins.c
  ports/stm/boards/openmv_h7/stm32h7xx_hal_conf.h
Labels: stm

#2836 STM32: Add correct PID for the OpenMV
  ports/stm/boards/openmv_h7/mpconfigboard.mk
Labels: stm
