Repository adafruit/circuitpython, pull requests merged in 2020-10, with the labels that each got.

#3512 Removed hardware APA settings from ESP32-S2 Feather mpconfigboard.h
  ports/esp32s2/boards/unexpectedmaker_feathers2/mpconfigboard.h
  ports/esp32s2/boards/unexpectedmaker_feathers2_prerelease/mpconfigboard.h
Labels: esp32s2

#3523 Replace _bleio.ConnectionError with the native version
  devices/ble_hci/common-hal/_bleio/__init__.c
  ports/nrf/common-hal/_bleio/__init__.c
  shared-bindings/_bleio/CharacteristicBuffer.c
  shared-bindings/_bleio/Connection.c
  shared-bindings/_bleio/PacketBuffer.c
  shared-bindings/_bleio/__init__.c
  shared-bindings/_bleio/__init__.h
Labels: ble, breaks api, circuitpython api, nrf52

#3532 Fix autoreload on SAMD21
  ports/atmel-samd/supervisor/port.c
Labels: atmel-samd, bug, supervisor

#3514 ESP32-S2: AnalogOut
  ports/esp32s2/common-hal/analogio/AnalogOut.c
  ports/esp32s2/common-hal/analogio/AnalogOut.h
  ports/esp32s2/supervisor/port.c
Labels: esp32s2

#3545 Fix STM RTC read so it's atomic.
  ports/stm/supervisor/port.c
Labels: bug, stm

#3549 Fix stm sleep too long
  ports/stm/supervisor/port.c
Labels: bug, stm

#3551 displayio: further ensure just one start_terminal call
  shared-module/displayio/Display.c
  shared-module/displayio/display_core.c
  shared-module/framebufferio/FramebufferDisplay.c
Labels: bug, displayio

#3484 Esp32s2: Expose more network parameters
  ports/esp32s2/common-hal/wifi/Radio.c
  ports/esp32s2/common-hal/wifi/Radio.h
  shared-bindings/wifi/Radio.c
  shared-bindings/wifi/Radio.h
Labels: esp32s2

#3574 Correct pins to not reset.
  ports/atmel-samd/boards/matrixportal_m4/mpconfigboard.h
Labels: bug

#3498 Sharpdisplay: reuse supervisor heap
  shared-module/sharpdisplay/SharpMemoryFramebuffer.c
Labels: displayio

#3607 ESP32-S2: Fix readme link, improve instruction clarity
  ports/esp32s2/README.md
Labels: documentation, esp32s2

#3611 Add Adafruit ESP EInk Portal and grayscale EInk support
  .github/workflows/build.yml
  ports/atmel-samd/boards/openbook_m4/board.c
  ports/esp32s2/boards/adafruit_esp32s2_eink_portal/board.c
  ports/esp32s2/boards/adafruit_esp32s2_eink_portal/mpconfigboard.h
  ports/esp32s2/boards/adafruit_esp32s2_eink_portal/mpconfigboard.mk
  ports/esp32s2/boards/adafruit_esp32s2_eink_portal/pins.c
  ports/esp32s2/boards/adafruit_esp32s2_eink_portal/sdkconfig
  ports/esp32s2/common-hal/busio/SPI.c
  shared-bindings/displayio/EPaperDisplay.c
  shared-bindings/displayio/EPaperDisplay.h
  shared-module/displayio/ColorConverter.c
  shared-module/displayio/EPaperDisplay.c
  shared-module/displayio/EPaperDisplay.h
  shared-module/displayio/Palette.h
  shared-module/displayio/display_core.c
Labels: bug, displayio, enhancement, esp32s2

#3621 Fixing make stub warnings and mypy issues
  shared-bindings/canio/CAN.c
  shared-bindings/canio/Listener.c
  shared-bindings/canio/Match.c
  shared-bindings/canio/Message.c
  shared-bindings/canio/RemoteTransmissionRequest.c
  shared-bindings/displayio/Bitmap.c
  shared-bindings/displayio/Display.c
  shared-bindings/socketpool/Socket.c
  shared-bindings/socketpool/SocketPool.c
  shared-bindings/ssl/SSLContext.c
  shared-bindings/wifi/Radio.c
  tools/extract_pyi.py
Labels: hacktoberfest-accepted
