Repository adafruit/circuitpython, pull requests merged in 2020-06, with the labels that each got.

#3001 mimxrt10xx: Disable pin_reset on 1060 boards
  ports/mimxrt10xx/boards/teensy40/board.c
  ports/mimxrt10xx/boards/teensy41/board.c
  ports/mimxrt10xx/supervisor/port.c
Labels: mimxrt10xx

#3015 mimxrt10xx: fix issues with resets on the 1060 boards
  ports/mimxrt10xx/boards/teensy40/board.c
  ports/mimxrt10xx/boards/teensy41/board.c
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1062/pins.c
  ports/mimxrt10xx/supervisor/port.c
Labels: mimxrt10xx

#3020 Issue #2958 Correct calculation of subticks being returned from port_get_raw_ticks() for esp32s2
  ports/esp32s2/supervisor/port.c
Labels: bug, esp32s2

#3025 STM32: Add DTCM and ITCM support to F7 series
  ports/stm/boards/STM32F746xG_fs.ld
  ports/stm/boards/STM32F767_fs.ld
  ports/stm/boards/nucleo_f746zg/mpconfigboard.h
  ports/stm/boards/nucleo_f746zg/mpconfigboard.mk
  ports/stm/boards/nucleo_f767zi/mpconfigboard.h
  ports/stm/boards/nucleo_f767zi/mpconfigboard.mk
  ports/stm/boards/nucleo_h743zi_2/mpconfigboard.h
  ports/stm/boards/openmv_h7/mpconfigboard.h
  ports/stm/boards/stm32f746g_discovery/mpconfigboard.h
  ports/stm/boards/stm32f746g_discovery/mpconfigboard.mk
  ports/stm/supervisor/port.c
Labels: stm

#3026 STM32: Add I2C timing to the F7 and H7 board profile
  ports/stm/common-hal/busio/I2C.c
Labels: stm

#3040 STM32: Add port D to LQFP64
  ports/stm/common-hal/microcontroller/Pin.c
Labels: stm

#3036 Fix ScanEntry prefix matching for any=False
  shared-module/_bleio/ScanEntry.c
Labels: ble, bug

#3039 STM32: make Meowbit default to UF2 on website
  tools/build_board_info.py
Labels: stm

#3045 Fixes issue with memory alignment in STM32
  ports/stm/common-hal/microcontroller/Pin.c
Labels: bug, stm

#3089 Add: added Seeed's Wio Terminal Board Support
  .github/workflows/build.yml
  ports/atmel-samd/boards/seeeduino_wio_terminal/board.c
  ports/atmel-samd/boards/seeeduino_wio_terminal/mpconfigboard.h
  ports/atmel-samd/boards/seeeduino_wio_terminal/mpconfigboard.mk
  ports/atmel-samd/boards/seeeduino_wio_terminal/pins.c
Labels: atmel-samd, enhancement
