Repository adafruit/circuitpython, pull requests merged in 2020-07, with the labels that each got.

#3094 spresense: add elf32.h for mkspk
  ports/cxd56/mkspk/elf32.h
  ports/cxd56/mkspk/mkspk.h
Labels: spresense

#3120 Issue#3049 -PulseIn not working in CP5.4
  ports/atmel-samd/common-hal/pulseio/PulseIn.c
  ports/atmel-samd/common-hal/pulseio/PulseIn.h
  ports/atmel-samd/supervisor/port.c
Labels: atmel-samd, bug

#3155 esp32s2: Take care to invoke the sub-build-system only once
  ports/esp32s2/Makefile
Labels: enhancement, esp32s2, tooling

#3143 Add support to json.load for any object with readinto
  extmod/modujson.c
  tests/extmod/ujson_load_readinto.py
  tests/extmod/ujson_load_readinto.py.exp
Labels: cpython api, enhancement, memory optimization

#2879 Use a linked list of background tasks to perform
  main.c
  ports/atmel-samd/audio_dma.c
  ports/atmel-samd/audio_dma.h
  ports/atmel-samd/background.c
  ports/atmel-samd/background.h
  ports/atmel-samd/boards/uchip/mpconfigboard.mk
  ports/atmel-samd/common-hal/frequencyio/FrequencyIn.c
  ports/atmel-samd/common-hal/pulseio/PulseIn.c
  ports/atmel-samd/supervisor/usb.c
  ports/cxd56/background.c
  ports/cxd56/background.h
  ports/esp32s2/background.c
  ports/esp32s2/background.h
  ports/litex/background.c
  ports/litex/background.h
  ports/litex/mphalport.c
  ports/mimxrt10xx/background.c
  ports/mimxrt10xx/background.h
  ports/mimxrt10xx/common-hal/pulseio/PulseIn.c
  ports/mimxrt10xx/supervisor/usb.c
  ports/nrf/background.c
  ports/nrf/background.h
  ports/nrf/common-hal/microcontroller/__init__.c
  ports/nrf/supervisor/port.c
  ports/nrf/supervisor/usb.c
  ports/stm/background.c
  ports/stm/background.h
  ports/stm/supervisor/usb.c
  shared-module/audiomp3/MP3Decoder.c
  shared-module/audiomp3/MP3Decoder.h
  shared-module/displayio/Display.c
  shared-module/displayio/EPaperDisplay.c
  shared-module/framebufferio/FramebufferDisplay.c
  supervisor/background_callback.h
  supervisor/port.h
  supervisor/shared/background_callback.c
  supervisor/shared/tick.c
  supervisor/shared/tick.h
  supervisor/shared/usb/usb.c
  supervisor/supervisor.mk
  supervisor/usb.h
Labels: performance, supervisor

#3177 vectorio: fix VectorShape non-transposed pixel placement
  shared-module/vectorio/VectorShape.c
Labels: bug, displayio

#3164 Disable existing native networking.
  ports/atmel-samd/boards/aloriumtech_evo_m51/mpconfigboard.mk
  ports/atmel-samd/boards/circuitbrains_deluxe_m4/mpconfigboard.mk
  ports/atmel-samd/boards/kicksat-sprite/mpconfigboard.mk
  ports/atmel-samd/boards/pewpew_m4/mpconfigboard.mk
  ports/atmel-samd/boards/sparkfun_samd51_thing_plus/mpconfigboard.mk
  ports/atmel-samd/boards/winterbloom_big_honking_button/mpconfigboard.mk
  ports/atmel-samd/boards/winterbloom_sol/mpconfigboard.mk
  ports/atmel-samd/mpconfigport.mk
  ports/nrf/boards/particle_argon/mpconfigboard.mk
  ports/nrf/boards/particle_boron/mpconfigboard.mk
  ports/nrf/boards/particle_xenon/mpconfigboard.mk
  shared-bindings/network/__init__.c
  shared-bindings/socket/__init__.c
  shared-bindings/wiznet/__init__.c
Labels: breaks api, circuitpython api, cpython api, network, refactoring

#3160 Enable PYSTACK to keep function state out of the heap
  main.c
  ports/atmel-samd/boards/uchip/mpconfigboard.mk
  py/circuitpy_mpconfig.h
Labels: enhancement, memory optimization, performance

#3162 Move release note converter to latest markdown helper lib
  tools/convert_release_notes.py
Labels: tooling

#3161 Add find variants to bytearray
  locale/circuitpython.pot
  ports/atmel-samd/boards/circuitbrains_basic_m0/mpconfigboard.mk
  py/objarray.c
Labels: cpython api, enhancement

#3163 Add `memorymonitor` for memory allocation debugging
  locale/circuitpython.pot
  main.c
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.h
  py/circuitpy_mpconfig.mk
  py/gc.c
  shared-bindings/_bleio/__init__.c
  shared-bindings/memorymonitor/AllocationAlarm.c
  shared-bindings/memorymonitor/AllocationAlarm.h
  shared-bindings/memorymonitor/AllocationSize.c
  shared-bindings/memorymonitor/AllocationSize.h
  shared-bindings/memorymonitor/__init__.c
  shared-bindings/memorymonitor/__init__.h
  shared-module/memorymonitor/AllocationAlarm.c
  shared-module/memorymonitor/AllocationAlarm.h
  shared-module/memorymonitor/AllocationSize.c
  shared-module/memorymonitor/AllocationSize.h
  shared-module/memorymonitor/__init__.c
  shared-module/memorymonitor/__init__.h
Labels: advanced api, circuitpython api, memory optimization, tooling

#3185 ESP32-S2: PWMOut
  ports/esp32s2/Makefile
  ports/esp32s2/common-hal/pulseio/PWMOut.c
  ports/esp32s2/common-hal/pulseio/PWMOut.h
  ports/esp32s2/common-hal/pulseio/PulseIn.c
  ports/esp32s2/common-hal/pulseio/PulseIn.h
  ports/esp32s2/common-hal/pulseio/PulseOut.c
  ports/esp32s2/common-hal/pulseio/PulseOut.h
  ports/esp32s2/common-hal/pulseio/__init__.c
  ports/esp32s2/mpconfigport.mk
  ports/esp32s2/supervisor/port.c
Labels: circuitpython api, esp32s2

#3194 Prep for GCC10
  main.c
  ports/atmel-samd/mphalport.h
  py/objstr.h
  py/py.mk
  shared-bindings/_pixelbuf/PixelBuf.h
  shared-bindings/digitalio/Direction.h
  shared-bindings/digitalio/DriveMode.h
  shared-bindings/digitalio/Pull.h
  shared-bindings/microcontroller/Processor.h
  shared-bindings/microcontroller/RunMode.h
  shared-bindings/nvm/ByteArray.h
  shared-bindings/os/__init__.h
  shared-bindings/supervisor/Runtime.h
  shared-bindings/usb_hid/Device.h
  supervisor/serial.h
  tools/gen_usb_descriptor.py
Labels: bug, tooling

#3199 Litex: fix microcontroller common-hal interface
  ports/litex/common-hal/microcontroller/Pin.c
Labels: litex

#3212 Add isort to doc deps
  docs/requirements.txt
Labels: crash, documentation

#3214 Updated Group.c to correct bug with insert into displayio.Group
  shared-bindings/displayio/Group.c
Labels: bug, displayio
