Repository adafruit/circuitpython, pull requests merged in 2020-12, with the labels that each got.

#3695 Add movable supervisor allocations
  main.c
  ports/atmel-samd/supervisor/port.c
  ports/cxd56/supervisor/port.c
  ports/esp32s2/supervisor/port.c
  ports/litex/supervisor/port.c
  ports/mimxrt10xx/supervisor/port.c
  ports/nrf/supervisor/port.c
  ports/stm/supervisor/port.c
  py/circuitpy_mpconfig.h
  shared-module/rgbmatrix/RGBMatrix.c
  shared-module/sharpdisplay/SharpMemoryFramebuffer.c
  shared-module/sharpdisplay/SharpMemoryFramebuffer.h
  shared-module/usb_midi/__init__.c
  supervisor/memory.h
  supervisor/port.h
  supervisor/shared/display.c
  supervisor/shared/external_flash/external_flash.c
  supervisor/shared/memory.c
  supervisor/shared/stack.c
  supervisor/shared/stack.h
Labels: enhancement, refactoring, supervisor

#3780 Block all tasks (not interrupts) during flash erase
  ports/esp32s2/esp-idf-config/sdkconfig.defaults
Labels: esp32s2

#3776 Two minor socket changes
  ports/esp32s2/common-hal/socketpool/Socket.c
Labels: bug, esp32s2

#3802 Store safe mode state in the RTC.
  ports/esp32s2/supervisor/port.c
Labels: enhancement, esp32s2

#3808 Enter safe mode after panic or brownout
  ports/esp32s2/supervisor/port.c
Labels: enhancement, esp32s2, supervisor

#3643 ESP32-S2: Add IDF pin resets to Microcontroller
  ports/esp32s2/common-hal/microcontroller/Pin.c
Labels: esp32s2

#3810 ESP32-S2: Remove calloc in AnalogIn
  locale/circuitpython.pot
  ports/esp32s2/common-hal/analogio/AnalogIn.c
Labels: esp32s2

#3662 Add new board BastBLE
  .github/workflows/build.yml
  ports/nrf/boards/bastble/README.md
  ports/nrf/boards/bastble/board.c
  ports/nrf/boards/bastble/mpconfigboard.h
  ports/nrf/boards/bastble/mpconfigboard.mk
  ports/nrf/boards/bastble/pins.c
Labels: board, enhancement, nrf52

#3812 Support for OTA update
  locale/circuitpython.pot
  ports/esp32s2/Makefile
  ports/esp32s2/common-hal/dualbank/__init__.c
  ports/esp32s2/common-hal/dualbank/__init__.h
  ports/esp32s2/mpconfigport.mk
  ports/esp32s2/supervisor/port.c
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.h
  py/circuitpy_mpconfig.mk
  shared-bindings/dualbank/__init__.c
  shared-bindings/dualbank/__init__.h
Labels: circuitpython api, enhancement, esp32s2

#3868 esp32-s2: wifi enhancement to include countrycode
  ports/esp32s2/common-hal/wifi/Network.c
  ports/esp32s2/common-hal/wifi/Radio.c
  shared-bindings/wifi/Network.c
  shared-bindings/wifi/Network.h
  shared-bindings/wifi/Radio.c
Labels: enhancement, esp32s2
