Repository adafruit/circuitpython, pull requests merged in 2020-11, with the labels that each got.

#3622 Fixing remaining stub mypy issues + run check-stubs to CI
  .github/workflows/build.yml
  shared-bindings/ipaddress/IPv4Address.c
  shared-bindings/socket/__init__.c
  shared-bindings/socketpool/SocketPool.c
Labels: hacktoberfest-accepted

#3637 ESP32S2: Fix parallel strip issue with Neopixels
  ports/esp32s2/common-hal/neopixel_write/__init__.c
Labels: esp32s2

#3639 Rework socketpool.Socket.recv to return sooner
  ports/esp32s2/common-hal/socketpool/Socket.c
  ports/esp32s2/esp-idf-config/sdkconfig.defaults
Labels: bug, esp32s2, memory optimization, network

#3653 Rebrand EInk Portal to MagTag
  .github/workflows/build.yml
  ports/esp32s2/boards/adafruit_magtag_2.9_grayscale/board.c
  ports/esp32s2/boards/adafruit_magtag_2.9_grayscale/mpconfigboard.h
  ports/esp32s2/boards/adafruit_magtag_2.9_grayscale/mpconfigboard.mk
  ports/esp32s2/boards/adafruit_magtag_2.9_grayscale/pins.c
  ports/esp32s2/boards/adafruit_magtag_2.9_grayscale/sdkconfig
Labels: enhancement, esp32s2

#3658 Foamyguy unhide tilegrid
  shared-module/displayio/TileGrid.c
Labels: bug, displayio

#3668 esp32s2: Correct port_stack_get_top()
  ports/esp32s2/supervisor/port.c
Labels: bug, esp32s2

#3672 Correct display sequence format docs
  shared-bindings/displayio/Display.c
  shared-bindings/displayio/EPaperDisplay.c
Labels: bug, documentation

#3671 board.SPI() and board.I2C() for UnexpectedMaker Feather S2
  ports/esp32s2/boards/unexpectedmaker_feathers2/mpconfigboard.h
Labels: enhancement, esp32s2

#3680 Add board.DISPLAY to MagTag. Fix luma computation
  ports/atmel-samd/boards/metro_m0_express/mpconfigboard.h
  ports/atmel-samd/common-hal/audiobusio/PDMIn.c
  ports/atmel-samd/common-hal/displayio/ParallelBus.c
  ports/esp32s2/boards/adafruit_magtag_2.9_grayscale/board.c
  ports/esp32s2/boards/adafruit_magtag_2.9_grayscale/pins.c
  ports/esp32s2/common-hal/displayio/ParallelBus.c
  ports/mimxrt10xx/common-hal/displayio/ParallelBus.c
  ports/nrf/common-hal/displayio/ParallelBus.c
  ports/stm/common-hal/displayio/ParallelBus.c
  py/circuitpy_mpconfig.h
  shared-bindings/displayio/EPaperDisplay.c
  shared-bindings/displayio/EPaperDisplay.h
  shared-bindings/displayio/FourWire.h
  shared-bindings/displayio/I2CDisplay.h
  shared-bindings/displayio/ParallelBus.h
  shared-bindings/displayio/__init__.h
  shared-module/displayio/ColorConverter.c
  shared-module/displayio/EPaperDisplay.c
  shared-module/displayio/EPaperDisplay.h
  shared-module/displayio/FourWire.c
  shared-module/displayio/I2CDisplay.c
  supervisor/shared/usb/usb_msc_flash.c
Labels: bug, displayio, enhancement

#3719 Fix Palette grayscale
  shared-module/displayio/Palette.c
Labels: bug, displayio

#3728 Speed up JSON parsing with readinto
  extmod/modujson.c
Labels: cpython api, enhancement, network, performance

#3720 Retry connection when getting NOT_AUTHED
  ports/esp32s2/common-hal/wifi/__init__.c
Labels: enhancement, esp32s2, network

#3759 Exit faster on recv when TLS connection closed
  ports/esp32s2/common-hal/socketpool/Socket.c
Labels: enhancement, esp32s2, network

#3760 displayio: Fix ColorConverter make_* methods
  shared-bindings/displayio/ColorConverter.c
Labels: bug, displayio

#3758 Update wifi.Radio.connect doc
  ports/esp32s2/common-hal/wifi/Radio.c
  shared-bindings/wifi/Radio.c
Labels: circuitpython api, documentation, enhancement, network

#3708 ESP32-S2: Add UDP with recvfrom_into and sendto
  locale/circuitpython.pot
  ports/esp32s2/Makefile
  ports/esp32s2/common-hal/socketpool/Socket.c
  ports/esp32s2/common-hal/socketpool/SocketPool.c
  shared-bindings/socketpool/Socket.c
  shared-bindings/socketpool/Socket.h
Labels: esp32s2
