Repository adafruit/circuitpython, pull requests merged in 2020-03, with the labels that each got.

#2668 STM32: Add PulseOut support
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/en_x_pirate.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/ko.po
  locale/pl.po
  locale/pt_BR.po
  locale/zh_Latn_pinyin.po
  ports/stm32f4/common-hal/pulseio/PWMOut.c
  ports/stm32f4/common-hal/pulseio/PulseOut.c
  ports/stm32f4/common-hal/pulseio/PulseOut.h
  ports/stm32f4/peripherals/stm32f4/periph.h
  ports/stm32f4/supervisor/port.c
Labels: stm

#2697 STM32: add PulseIn module
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/en_x_pirate.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/ko.po
  locale/pl.po
  locale/pt_BR.po
  locale/zh_Latn_pinyin.po
  ports/stm32f4/common-hal/pulseio/PulseIn.c
  ports/stm32f4/common-hal/pulseio/PulseIn.h
  ports/stm32f4/supervisor/port.c
Labels: stm

#2712 Fix DotStar status LED init.
  supervisor/shared/rgb_led_status.c
Labels: bug, supervisor

#2723 Add new STM board: Thunderpack
  .github/workflows/build.yml
  ports/stm/boards/STM32F411VETx_nvm_FLASH.ld
  ports/stm/boards/thunderpack/board.c
  ports/stm/boards/thunderpack/mpconfigboard.h
  ports/stm/boards/thunderpack/mpconfigboard.mk
  ports/stm/boards/thunderpack/pins.c
  ports/stm/boards/thunderpack/stm32f4xx_hal_conf.h
  ports/stm/common-hal/microcontroller/__init__.c
  ports/stm/common-hal/nvm/ByteArray.c
  ports/stm/common-hal/nvm/ByteArray.h
  ports/stm/common-hal/nvm/__init__.c
  ports/stm/supervisor/internal_flash.h
  ports/stm/supervisor/usb.c
Labels: stm

#2727 Add support for Commander
  .github/workflows/build.yml
  ports/atmel-samd/boards/8086_commander/board.c
  ports/atmel-samd/boards/8086_commander/mpconfigboard.h
  ports/atmel-samd/boards/8086_commander/mpconfigboard.mk
  ports/atmel-samd/boards/8086_commander/pins.c
Labels: atmel-samd

#2732 mimxrt10xx: Return proper UART read length when everything was read
  ports/mimxrt10xx/common-hal/busio/UART.c
Labels: mimxrt10xx

#2730 Add polarity and phase to FourWire.
  ports/atmel-samd/boards/hallowing_m0_express/board.c
  ports/atmel-samd/boards/hallowing_m4_express/board.c
  ports/atmel-samd/boards/monster_m4sk/board.c
  ports/atmel-samd/boards/openbook_m4/board.c
  ports/atmel-samd/boards/pewpew_m4/board.c
  ports/atmel-samd/boards/pybadge/board.c
  ports/atmel-samd/boards/pybadge_airlift/board.c
  ports/atmel-samd/boards/pygamer/board.c
  ports/atmel-samd/boards/pygamer_advance/board.c
  ports/atmel-samd/boards/ugame10/board.c
  ports/nrf/boards/clue_nrf52840_express/board.c
  ports/nrf/boards/ohs2020_badge/board.c
  ports/stm/boards/meowbit_v121/board.c
  shared-bindings/displayio/FourWire.c
  shared-bindings/displayio/FourWire.h
  shared-module/displayio/FourWire.c
Labels: bug, displayio

#2740 mimxrt10xx: Fix neopixel_write
  ports/mimxrt10xx/common-hal/neopixel_write/__init__.c
Labels: mimxrt10xx

#2741 Fix PacketBuffer server support
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/en_x_pirate.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/ko.po
  locale/pl.po
  locale/pt_BR.po
  locale/zh_Latn_pinyin.po
  ports/nrf/common-hal/_bleio/Connection.c
  ports/nrf/common-hal/_bleio/PacketBuffer.c
  shared-bindings/_bleio/PacketBuffer.c
Labels: bug, nrf52
