Repository adafruit/circuitpython, pull requests merged in 2020-05, with the labels that each got.

#2823 aes: add initial AES module
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/en_x_pirate.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/ko.po
  locale/pl.po
  locale/pt_BR.po
  locale/sv.po
  locale/zh_Latn_pinyin.po
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.h
  py/circuitpy_mpconfig.mk
  shared-bindings/aesio/__init__.c
  shared-bindings/aesio/__init__.h
  shared-bindings/aesio/aes.c
  shared-module/aesio/__init__.c
  shared-module/aesio/__init__.h
  shared-module/aesio/aes.c
  shared-module/aesio/aes.h
Labels: circuitpython api, enhancement

#2883 Add Teensy 4.1 board definition
  .github/workflows/build.yml
  ports/mimxrt10xx/boards/teensy41/board.c
  ports/mimxrt10xx/boards/teensy41/board.ld
  ports/mimxrt10xx/boards/teensy41/flash_config.c
  ports/mimxrt10xx/boards/teensy41/mpconfigboard.h
  ports/mimxrt10xx/boards/teensy41/mpconfigboard.mk
  ports/mimxrt10xx/boards/teensy41/pins.c
Labels: enhancement, mimxrt10xx

#2878 ujson: work with mp stream protocol for fast & easy read
  extmod/modujson.c
  ports/atmel-samd/common-hal/busio/UART.c
  shared-bindings/busio/UART.c
Labels: cpython api, enhancement

#2871 Throw a NotImplementedError for time functions on boards without long ints
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/en_x_pirate.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/ko.po
  locale/pl.po
  locale/pt_BR.po
  locale/sv.po
  locale/zh_Latn_pinyin.po
  shared-bindings/time/__init__.c
Labels: bug

#2873 Add vectorio: for drawing shapes
  locale/ID.po
  locale/circuitpython.pot
  locale/de_DE.po
  locale/en_US.po
  locale/en_x_pirate.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/ko.po
  locale/pl.po
  locale/pt_BR.po
  locale/sv.po
  locale/zh_Latn_pinyin.po
  ports/atmel-samd/boards/bdmicro_vina_m0/mpconfigboard.mk
  ports/atmel-samd/boards/circuitbrains_basic_m0/mpconfigboard.mk
  ports/atmel-samd/boards/circuitplayground_express_displayio/mpconfigboard.mk
  ports/atmel-samd/boards/feather_m0_express/mpconfigboard.mk
  ports/atmel-samd/boards/feather_m0_supersized/mpconfigboard.mk
  ports/atmel-samd/boards/feather_m4_express/mpconfigboard.mk
  ports/atmel-samd/boards/feather_radiofruit_zigbee/mpconfigboard.mk
  ports/atmel-samd/boards/hallowing_m0_express/mpconfigboard.mk
  ports/atmel-samd/boards/itsybitsy_m0_express/mpconfigboard.mk
  ports/atmel-samd/boards/metro_m0_express/mpconfigboard.mk
  ports/atmel-samd/boards/pewpew_m4/mpconfigboard.mk
  ports/atmel-samd/boards/snekboard/mpconfigboard.mk
  ports/atmel-samd/boards/sparkfun_lumidrive/mpconfigboard.mk
  ports/atmel-samd/boards/sparkfun_redboard_turbo/mpconfigboard.mk
  ports/atmel-samd/boards/stringcar_m0_express/mpconfigboard.mk
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.h
  py/circuitpy_mpconfig.mk
  shared-bindings/vectorio/Circle.c
  shared-bindings/vectorio/Circle.h
  shared-bindings/vectorio/Polygon.c
  shared-bindings/vectorio/Polygon.h
  shared-bindings/vectorio/Rectangle.c
  shared-bindings/vectorio/Rectangle.h
  shared-bindings/vectorio/VectorShape.c
  shared-bindings/vectorio/VectorShape.h
  shared-bindings/vectorio/__init__.c
  shared-module/displayio/Group.c
  shared-module/displayio/display_core.c
  shared-module/vectorio/Circle.c
  shared-module/vectorio/Circle.h
  shared-module/vectorio/Polygon.c
  shared-module/vectorio/Polygon.h
  shared-module/vectorio/Rectangle.c
  shared-module/vectorio/Rectangle.h
  shared-module/vectorio/VectorShape.c
  shared-module/vectorio/VectorShape.h
  shared-module/vectorio/__init__.c
  shared-module/vectorio/__init__.h
Labels: circuitpython api, displayio, enhancement

#2889 Gamepad, GamepadShift: Fix after lower-power by enabling supervisor tick
  ports/atmel-samd/audio_dma.c
  shared-bindings/gamepad/GamePad.c
  shared-bindings/gamepadshift/GamePadShift.c
  shared-module/gamepad/GamePad.c
  shared-module/gamepad/__init__.c
  shared-module/gamepadshift/GamePadShift.c
Labels: bug

#2911 add new Czech (cs) translation file
  locale/cs.po
Labels: internationalization

#2888 vectorio: speed up polygon
  locale/ID.po
  locale/circuitpython.pot
  locale/cs.po
  locale/de_DE.po
  locale/en_US.po
  locale/en_x_pirate.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/ko.po
  locale/pl.po
  locale/pt_BR.po
  locale/sv.po
  locale/zh_Latn_pinyin.po
  shared-bindings/vectorio/Polygon.c
  shared-module/vectorio/Polygon.c
  shared-module/vectorio/Polygon.h
Labels: displayio, enhancement, performance

#2896 Add bytearray.decode() for CPython compatibility
  ports/atmel-samd/boards/circuitplayground_express_crickit/mpconfigboard.mk
  py/objarray.c
Labels: cpython api, enhancement

#2926 mimxrt10xx: Fix cpu.temperature crash
  ports/mimxrt10xx/common-hal/microcontroller/Processor.c
Labels: bug, mimxrt10xx

#2925 mimxrt1010: Increase max SPI speed
  ports/mimxrt10xx/common-hal/busio/SPI.c
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1011/clocks.c
Labels: circuitpython api, displayio, enhancement, mimxrt10xx

#2837 Add support for a debug console, such as ST-Link VCP.
  main.c
  ports/atmel-samd/common-hal/busio/UART.c
  ports/cxd56/common-hal/busio/UART.c
  ports/mimxrt10xx/common-hal/busio/UART.c
  ports/nrf/common-hal/busio/UART.c
  ports/stm/boards/nucleo_f746zg/mpconfigboard.h
  ports/stm/boards/nucleo_f746zg/pins.c
  ports/stm/common-hal/busio/UART.c
  ports/stm/common-hal/busio/UART.h
  shared-bindings/busio/UART.c
  shared-bindings/busio/UART.h
  shared-module/board/__init__.c
  supervisor/serial.h
  supervisor/shared/serial.c
  supervisor/stub/serial.c
Labels: enhancement, supervisor

#2956 fix racing issue for SAMD when executing WFI
  ports/atmel-samd/supervisor/port.c
Labels: atmel-samd, bug, usb

#2961 mimxrt10xx: Change exception type to match other ports
  ports/mimxrt10xx/common-hal/busio/I2C.c
Labels: mimxrt10xx

#2934 mimxrt10xx: add one-directional UART
  locale/ID.po
  locale/circuitpython.pot
  locale/cs.po
  locale/de_DE.po
  locale/en_US.po
  locale/en_x_pirate.po
  locale/es.po
  locale/fil.po
  locale/fr.po
  locale/it_IT.po
  locale/ko.po
  locale/nl.po
  locale/pl.po
  locale/pt_BR.po
  locale/sv.po
  locale/zh_Latn_pinyin.po
  ports/mimxrt10xx/common-hal/busio/SPI.c
  ports/mimxrt10xx/common-hal/busio/UART.c
  ports/mimxrt10xx/common-hal/busio/UART.h
  ports/stm/common-hal/busio/UART.c
Labels: mimxrt10xx

#2974 Spill registers before scanning the stack.
  ports/esp32s2/mphalport.c
  ports/esp32s2/tools/decode_backtrace.py
Labels: bug, crash, esp32s2

#2964 mimxrt10xx: Busio cleanup and bugfixes
  ports/mimxrt10xx/boards/imxrt1010_evk/board.c
  ports/mimxrt10xx/boards/imxrt1010_evk/mpconfigboard.h
  ports/mimxrt10xx/boards/imxrt1010_evk/pins.c
  ports/mimxrt10xx/boards/imxrt1020_evk/board.c
  ports/mimxrt10xx/boards/imxrt1060_evk/board.c
  ports/mimxrt10xx/common-hal/busio/I2C.c
  ports/mimxrt10xx/common-hal/busio/I2C.h
  ports/mimxrt10xx/common-hal/busio/SPI.c
  ports/mimxrt10xx/common-hal/busio/UART.c
  ports/mimxrt10xx/common-hal/microcontroller/Pin.c
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1011/periph.c
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1011/periph.h
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1021/periph.c
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1021/periph.h
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1062/periph.c
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1062/periph.h
  ports/mimxrt10xx/supervisor/port.c
  ports/stm/common-hal/busio/I2C.c
  ports/stm/common-hal/busio/SPI.c
Labels: mimxrt10xx
