Repository adafruit/circuitpython, pull requests merged in 2020-09, with the labels that each got.

#3382 Add esp32s2 internal temp sensor support
  ports/esp32s2/common-hal/microcontroller/Processor.c
Labels: enhancement, esp32s2

#3375 Correction for Issue #3296 - ble hanging on nrf52840
  ports/atmel-samd/common-hal/microcontroller/Pin.c
  ports/esp32s2/common-hal/microcontroller/Pin.c
  ports/nrf/common-hal/busio/SPI.c
  ports/nrf/common-hal/microcontroller/Pin.c
  ports/stm/common-hal/microcontroller/Pin.c
Labels: nrf52, stm

#3302 support to get HID OUT report
  shared-bindings/usb_hid/Device.c
  shared-module/usb_hid/Device.c
  shared-module/usb_hid/Device.h
  tools/gen_usb_descriptor.py
  tools/hid_report_descriptors.py
Labels: enhancement, usb

#3374 Add dirty rectangle tracking to Shape display element
  shared-module/displayio/Shape.c
  shared-module/displayio/Shape.h
  shared-module/displayio/TileGrid.c
Labels: displayio

#3397 Fix bug with socket.recv_into size == 0.
  shared-bindings/socketpool/Socket.c
Labels: bug, esp32s2

#3422 RTC enabled
  ports/esp32s2/common-hal/rtc/RTC.c
  ports/esp32s2/common-hal/rtc/RTC.h
  ports/esp32s2/common-hal/rtc/__init__.c
  ports/esp32s2/mpconfigport.mk
Labels: enhancement, esp32s2

#3417 ESP32S2: Add Readme
  docs/supported_ports.rst
  ports/esp32s2/README.md
Labels: esp32s2

#3393 Add non-DMA SPI support.
  ports/esp32s2/common-hal/busio/SPI.c
  ports/esp32s2/common-hal/busio/SPI.h
Labels: bug, esp32s2

#2966 Automate USB VID/PID Uniqueness Check
  .github/workflows/build.yml
  ports/atmel-samd/boards/feather_m0_adalogger/mpconfigboard.mk
  ports/atmel-samd/boards/feather_m0_express_crickit/mpconfigboard.mk
  ports/atmel-samd/boards/feather_m0_rfm69/mpconfigboard.mk
  ports/atmel-samd/boards/feather_m0_rfm9x/mpconfigboard.mk
  ports/atmel-samd/boards/feather_radiofruit_zigbee/mpconfigboard.mk
  ports/atmel-samd/boards/pewpew10/mpconfigboard.mk
  ports/atmel-samd/boards/ugame10/mpconfigboard.mk
  ports/nrf/boards/TG-Watch02A/mpconfigboard.mk
  ports/nrf/boards/electronut_labs_blip/mpconfigboard.mk
  ports/nrf/boards/makerdiary_nrf52840_mdk/mpconfigboard.mk
  ports/nrf/boards/makerdiary_nrf52840_mdk_usb_dongle/mpconfigboard.mk
  ports/nrf/boards/pca10056/mpconfigboard.mk
  ports/nrf/boards/pca10059/mpconfigboard.mk
  ports/nrf/boards/pca10100/mpconfigboard.mk
  ports/stm/boards/meowbit_v121/mpconfigboard.mk
  ports/stm/boards/thunderpack/mpconfigboard.mk
  tools/ci_check_duplicate_usb_vid_pid.py
Labels: enhancement, tooling, usb

#3426 Add partition layouts for 8 and 16 MB as well.
  ports/esp32s2/Makefile
  ports/esp32s2/partitions-16MB.csv
  ports/esp32s2/partitions-4MB.csv
  ports/esp32s2/partitions-8MB.csv
  ports/esp32s2/sdkconfig-16MB.defaults
  ports/esp32s2/sdkconfig-4MB.defaults
  ports/esp32s2/sdkconfig-8MB.defaults
  ports/esp32s2/sdkconfig.defaults
Labels: enhancement, esp32s2

#3431 STM32: Change SPI Read to acknowledge write_value
  ports/stm/Makefile
  ports/stm/common-hal/busio/SPI.c
Labels: stm

#3433 ESP32S2: Allow connecting to specific bssid
  locale/circuitpython.pot
  ports/esp32s2/common-hal/wifi/Network.c
  ports/esp32s2/common-hal/wifi/Radio.c
  shared-bindings/wifi/Network.c
  shared-bindings/wifi/Network.h
  shared-bindings/wifi/Radio.c
  shared-bindings/wifi/Radio.h
Labels: enhancement, esp32s2

#3441 STM32: Add never_reset reservation to RGBMatrix init
  ports/stm/common-hal/rgbmatrix/RGBMatrix.c
  ports/stm/peripherals/timers.c
Labels: stm

#3470 Print package if it exists for pin or module only if it does not
  shared-bindings/microcontroller/Pin.c
Labels: bug

#3481 Add MP const info to Design Guide
  docs/design_guide.rst
Labels: documentation

#3475 Reorganize sdkconfigs and release UF2s
  .pre-commit-config.yaml
  ports/esp32s2/Makefile
  ports/esp32s2/boards/microdev_micro_s2/sdkconfig
  ports/esp32s2/boards/unexpectedmaker_feathers2/sdkconfig
  ports/esp32s2/esp-idf-config/partitions-16MB.csv
  ports/esp32s2/esp-idf-config/partitions-4MB.csv
  ports/esp32s2/esp-idf-config/partitions-8MB.csv
  ports/esp32s2/esp-idf-config/sdkconfig-16MB.defaults
  ports/esp32s2/esp-idf-config/sdkconfig-4MB.defaults
  ports/esp32s2/esp-idf-config/sdkconfig-8MB.defaults
  ports/esp32s2/esp-idf-config/sdkconfig-debug.defaults
  ports/esp32s2/esp-idf-config/sdkconfig-opt.defaults
  ports/esp32s2/esp-idf-config/sdkconfig.defaults
  tools/build_board_info.py
Labels: esp32s2

#3489 ESP32S2: Enter station mode before connecting
  ports/esp32s2/common-hal/wifi/Radio.c
Labels: bug, esp32s2
