Repository adafruit/circuitpython, pull requests merged in 2021-06, with the labels that each got.

#4823 OnDiskBitmap: INCOMPATIBLE CHANGE: Allow them to use palettes
  shared-bindings/displayio/OnDiskBitmap.c
  shared-bindings/displayio/OnDiskBitmap.h
  shared-module/displayio/ColorConverter.h
  shared-module/displayio/OnDiskBitmap.c
  shared-module/displayio/OnDiskBitmap.h
  shared-module/displayio/Palette.h
Labels: breaks api, displayio

#4860 Update readme
  README.rst
Labels: documentation

#4864 macropad rev B definion and fix for SH110x addressing
  ports/raspberrypi/boards/adafruit_macropad_rp2040/board.c
  ports/raspberrypi/boards/adafruit_macropad_rp2040/mpconfigboard.h
  ports/raspberrypi/boards/adafruit_macropad_rp2040/pins.c
  shared-module/displayio/Display.c
  shared-module/displayio/display_core.c
Labels: displayio

#4861 Stubs upload actions
  .github/workflows/build.yml
  setup.py
Labels: enhancement, tooling

#4876 Fix partial refresh of displayio.TileGrid
  shared-module/displayio/TileGrid.c
Labels: displayio

#4904 Add manual tests for Alarm module
  tests/circuitpython-manual/alarm/deepsleep.py
  tests/circuitpython-manual/alarm/esp/boot.py
  tests/circuitpython-manual/alarm/esp/code.py
  tests/circuitpython-manual/alarm/lightsleep.py
  tests/circuitpython-manual/alarm/nrf/code.py
  tests/circuitpython-manual/alarm/rp/boot.py
  tests/circuitpython-manual/alarm/rp/code.py
  tests/circuitpython-manual/alarm/stm/code.py
Labels: documentation, power, testing

#4915 Fix 4193 - set hidden_by_parent when adding to displayio group
  shared-module/displayio/Group.c
Labels: bug, displayio

#4918 Enable a BLE workflow
  .github/workflows/build.yml
  devices/ble_hci/common-hal/_bleio/Adapter.c
  devices/ble_hci/common-hal/_bleio/PacketBuffer.c
  locale/circuitpython.pot
  main.c
  ports/nrf/bluetooth/ble_drv.c
  ports/nrf/common-hal/_bleio/Adapter.c
  ports/nrf/common-hal/_bleio/Adapter.h
  ports/nrf/common-hal/_bleio/Characteristic.c
  ports/nrf/common-hal/_bleio/Characteristic.h
  ports/nrf/common-hal/_bleio/Connection.c
  ports/nrf/common-hal/_bleio/PacketBuffer.c
  ports/nrf/common-hal/_bleio/PacketBuffer.h
  ports/nrf/common-hal/_bleio/Service.c
  ports/nrf/common-hal/_bleio/UUID.c
  ports/nrf/common-hal/_bleio/__init__.c
  ports/nrf/common-hal/_bleio/__init__.h
  ports/nrf/common-hal/_bleio/bonding.c
  ports/nrf/common-hal/_bleio/bonding.h
  ports/nrf/mpconfigport.mk
  ports/nrf/supervisor/bluetooth.c
  ports/nrf/supervisor/bluetooth.h
  shared-bindings/_bleio/Adapter.c
  shared-bindings/_bleio/Adapter.h
  shared-bindings/_bleio/Characteristic.h
  shared-bindings/_bleio/Connection.c
  shared-bindings/_bleio/PacketBuffer.h
  supervisor/shared/bluetooth.c
  supervisor/shared/bluetooth.h
  supervisor/shared/safe_mode.c
  supervisor/shared/tick.c
  supervisor/shared/usb/usb_msc_flash.c
  supervisor/supervisor.mk
  supervisor/usb.h
Labels: ble, enhancement, supervisor
