Repository adafruit/circuitpython, pull requests merged in 2021-11, with the labels that each got.

#5533 Reversal of PR #4981
  ports/raspberrypi/boards/cytron_maker_pi_rp2040/pins.c
Labels: bug, board, rp2

#5574 Fix traceback object init
  ports/atmel-samd/boards/feather_m0_adalogger/mpconfigboard.mk
  py/objexcept.c
Labels: bug, crash

#5571 Set Station MAC address & validate connect SSID len
  locale/circuitpython.pot
  ports/espressif/common-hal/wifi/Radio.c
  ports/espressif/common-hal/wifi/__init__.c
  shared-bindings/wifi/Radio.c
  shared-bindings/wifi/Radio.h
Labels: enhancement, network, espressif

#5593 Set AP MAC address
  locale/circuitpython.pot
  ports/espressif/common-hal/wifi/Radio.c
  shared-bindings/wifi/Radio.c
  shared-bindings/wifi/Radio.h
Labels: enhancement, network, espressif

#5608 Traceback object init - set it to empty only if null
  py/objexcept.c
Labels: bug

#5627 Add `make fetch-submodules` to update submodules
  .gitmodules
  Makefile
Labels: bug, tooling, broadcom
