Repository adafruit/circuitpython, pull requests merged in 2021-10, with the labels that each got.

#5421 Minor updates for board MicroDev microS2
  ports/espressif/boards/microdev_micro_s2/board.c
  ports/espressif/boards/microdev_micro_s2/mpconfigboard.h
  ports/espressif/boards/microdev_micro_s2/mpconfigboard.mk
  ports/espressif/boards/microdev_micro_s2/pins.c
  ports/espressif/boards/microdev_micro_s2/sdkconfig
Labels: enhancement, espressif, board

#5427 Lose dependency to USB via CIRCUITPY_USB define for atmel port.
  ports/atmel-samd/common-hal/microcontroller/Pin.c
Labels: bug, atmel-samd

#5429 [#4701] Correct DAC clock speed comments for SAMD21 and SAMD51
  ports/atmel-samd/common-hal/analogio/AnalogOut.c
Labels: atmel-samd

#5404 Add board MicroDev microC3
  ports/espressif/boards/microdev_micro_c3/board.c
  ports/espressif/boards/microdev_micro_c3/mpconfigboard.h
  ports/espressif/boards/microdev_micro_c3/mpconfigboard.mk
  ports/espressif/boards/microdev_micro_c3/pins.c
  ports/espressif/boards/microdev_micro_c3/sdkconfig
  tools/build_board_info.py
Labels: espressif, board

#5398 PicoSystem: Add DisplayIO to board config
  ports/raspberrypi/boards/pimoroni_picosystem/board.c
  ports/raspberrypi/boards/pimoroni_picosystem/mpconfigboard.mk
  ports/raspberrypi/boards/pimoroni_picosystem/pins.c
Labels: enhancement, board
