Repository adafruit/circuitpython, pull requests merged in 2021-03, with the labels that each got.

#4297 Update flash sizes for Adafruit RP2040 boards
  ports/raspberrypi/boards/adafruit_feather_rp2040/mpconfigboard.h
  ports/raspberrypi/boards/qtpy_rp2040/mpconfigboard.h
Labels: rp2

#4254 Rp2040 countio
  locale/circuitpython.pot
  ports/raspberrypi/common-hal/countio/Counter.c
  ports/raspberrypi/common-hal/countio/Counter.h
  ports/raspberrypi/common-hal/countio/__init__.c
  ports/raspberrypi/common-hal/pwmio/PWMOut.c
  ports/raspberrypi/common-hal/pwmio/PWMOut.h
  ports/raspberrypi/mpconfigport.h
  ports/raspberrypi/mpconfigport.mk
Labels: enhancement, rp2

#4325 ESP32S2: Fix watchdog deinit
  ports/esp32s2/common-hal/watchdog/WatchDogTimer.c
Labels: esp32s2

#4350 Add new nRF port for SF MicroMod nRF52840.
  .github/workflows/build.yml
  ports/nrf/boards/sparkfun_nrf52840_micromod/README.md
  ports/nrf/boards/sparkfun_nrf52840_micromod/board.c
  ports/nrf/boards/sparkfun_nrf52840_micromod/mpconfigboard.h
  ports/nrf/boards/sparkfun_nrf52840_micromod/mpconfigboard.mk
  ports/nrf/boards/sparkfun_nrf52840_micromod/pins.c
Labels: board, nrf52

#4385 STM32: add all F405 modules to F407
  ports/stm/boards/feather_stm32f405_express/mpconfigboard.mk
  ports/stm/boards/pyboard_v11/mpconfigboard.mk
  ports/stm/mpconfigport.mk
  ports/stm/peripherals/stm32f4/stm32f407xx/periph.c
  ports/stm/peripherals/stm32f4/stm32f407xx/periph.h
  ports/stm/peripherals/stm32f4/stm32f407xx/pins.c
  ports/stm/peripherals/stm32f4/stm32f407xx/pins.h
Labels: stm

#4383 STM32: Fix UART deinit
  ports/stm/common-hal/busio/UART.c
Labels: stm

#4392 Lower default flash speed.
  ports/raspberrypi/Makefile
Labels: crash, rp2

#4415 pre-commit: code formatter fixes
  .pre-commit-config.yaml
  BUILDING.md
  ports/atmel-samd/eic_handler.c
  ports/atmel-samd/fatfs_port.c
  ports/atmel-samd/ld_defines.c
  ports/atmel-samd/mpconfigport.h
  ports/atmel-samd/mphalport.c
  ports/atmel-samd/mphalport.h
  ports/atmel-samd/timer_handler.c
  ports/cxd56/background.c
  tools/codeformat.py
Labels: tooling

#4416 Add Sourcegraph link and raspberrypi port
  README.rst
Labels: documentation, enhancement

#4130 Add RP2040 displayio.ParallelBus Support
  ports/atmel-samd/boards/pyportal/board.c
  ports/atmel-samd/boards/pyportal_titano/board.c
  ports/atmel-samd/common-hal/displayio/ParallelBus.c
  ports/esp32s2/common-hal/displayio/ParallelBus.c
  ports/mimxrt10xx/common-hal/displayio/ParallelBus.c
  ports/nrf/common-hal/displayio/ParallelBus.c
  ports/raspberrypi/bindings/rp2pio/StateMachine.h
  ports/raspberrypi/common-hal/displayio/ParallelBus.c
  ports/raspberrypi/common-hal/displayio/ParallelBus.h
  ports/stm/common-hal/displayio/ParallelBus.c
  shared-bindings/displayio/ParallelBus.c
  shared-bindings/displayio/ParallelBus.h
Labels: displayio, enhancement, rp2

#4419 Add board definition for Sparkfun Pro Micro RP2040
  .github/workflows/build.yml
  ports/raspberrypi/boards/sparkfun_pro_micro_rp2040/board.c
  ports/raspberrypi/boards/sparkfun_pro_micro_rp2040/mpconfigboard.h
  ports/raspberrypi/boards/sparkfun_pro_micro_rp2040/mpconfigboard.mk
  ports/raspberrypi/boards/sparkfun_pro_micro_rp2040/pins.c
Labels: rp2

#3513 Implement function to check usb connection
  shared-bindings/supervisor/Runtime.c
Labels: enhancement, usb

#4432 Bitmap dirty improvements
  shared-module/bitmaptools/__init__.c
  shared-module/displayio/Bitmap.c
  shared-module/displayio/Bitmap.h
  shared-module/displayio/__init__.c
  shared-module/displayio/area.h
Labels: displayio

#4454 Fix reading 4-bit data
  shared-module/bitmaptools/__init__.c
Labels: bug, displayio

#4465 swap recvfrom_into() port byte-order
  ports/esp32s2/common-hal/socketpool/Socket.c
Labels: bug, esp32s2, network

#4480 Use GCC @file to shorten linker command length
  ports/raspberrypi/Makefile
Labels: enhancement, tooling
