Repository adafruit/circuitpython, pull requests merged in 2021-04, with the labels that each got.

#4522 Fix central pairing and crash on clear
  locale/circuitpython.pot
  ports/nrf/common-hal/_bleio/Adapter.c
  ports/nrf/common-hal/_bleio/Connection.c
  ports/nrf/common-hal/_bleio/__init__.c
Labels: bug, nrf52

#4528 Re-Arrange CI Task
  .github/workflows/create_website_pr.yml
Labels: tooling

#4535 Two small PacketBuffer fixes
  ports/nrf/common-hal/_bleio/PacketBuffer.c
Labels: ble, bug, nrf52

#4399 [stm] implementation of audiopwmio
  locale/circuitpython.pot
  ports/stm/boards/espruino_pico/mpconfigboard.mk
  ports/stm/boards/espruino_wifi/mpconfigboard.mk
  ports/stm/boards/meowbit_v121/board.c
  ports/stm/boards/meowbit_v121/pins.c
  ports/stm/boards/pyb_nano_v2/mpconfigboard.mk
  ports/stm/boards/stm32f411ce_blackpill/mpconfigboard.mk
  ports/stm/boards/stm32f411ve_discovery/mpconfigboard.mk
  ports/stm/common-hal/audiopwmio/PWMAudioOut.c
  ports/stm/common-hal/audiopwmio/PWMAudioOut.h
  ports/stm/common-hal/audiopwmio/__init__.c
  ports/stm/mpconfigport.mk
  ports/stm/supervisor/port.c
  shared-bindings/audiopwmio/PWMAudioOut.c
Labels: audio, enhancement, stm

#4566 Remove colocate doc reference
  ports/raspberrypi/bindings/rp2pio/StateMachine.c
Labels: documentation, rp2

#4503 Sleep API changes and fix for main.c silent issue
  main.c
  ports/esp32s2/common-hal/alarm/__init__.c
  ports/esp32s2/common-hal/alarm/pin/__init__.c
  shared-bindings/alarm/__init__.c
  shared-bindings/alarm/__init__.h
Labels: advanced api, power

#4578 Improve PacketBuffer lengths and remove packet_size
  ports/nrf/common-hal/_bleio/PacketBuffer.c
  shared-bindings/_bleio/PacketBuffer.c
Labels: ble

#4576 Add senseBox MCU
  .github/workflows/build.yml
  ports/atmel-samd/boards/sensebox_mcu/board.c
  ports/atmel-samd/boards/sensebox_mcu/mpconfigboard.h
  ports/atmel-samd/boards/sensebox_mcu/mpconfigboard.mk
  ports/atmel-samd/boards/sensebox_mcu/pins.c
Labels: atmel-samd, board

#4579 Don't block serial output in interrupt
  supervisor/shared/cpu.c
  supervisor/shared/cpu.h
  supervisor/shared/serial.c
  supervisor/supervisor.mk
Labels: supervisor, usb

#4618 Bump ESP-IDF cache key
  .github/workflows/build.yml
Labels: esp32s2

#4605 Add build file matcher to pull out which board/language builds fail
  .github/workflows/build.yml
  .github/workflows/match-build-fail.json
Labels: tooling

#4604 Assume max characteristic size when the client
  devices/ble_hci/common-hal/_bleio/Characteristic.c
  devices/ble_hci/common-hal/_bleio/PacketBuffer.c
  devices/ble_hci/common-hal/_bleio/PacketBuffer.h
  locale/circuitpython.pot
  ports/nrf/common-hal/_bleio/Characteristic.c
  ports/nrf/common-hal/_bleio/PacketBuffer.c
  ports/nrf/common-hal/_bleio/PacketBuffer.h
  shared-bindings/_bleio/Characteristic.c
  shared-bindings/_bleio/Characteristic.h
  shared-bindings/_bleio/PacketBuffer.c
  shared-bindings/_bleio/PacketBuffer.h
Labels: ble, bug, nrf52

#4668 Increased possible pulsein length to ~65 ms.
  ports/raspberrypi/common-hal/pulseio/PulseIn.c
Labels: enhancement, rp2

#4684 NRF: Fix MP type checking macros
  ports/nrf/common-hal/alarm/pin/PinAlarm.c
  ports/nrf/common-hal/alarm/time/TimeAlarm.c
Labels: nrf52

#4687 Fix ItsyBitsy RP2040 board definition
  ports/raspberrypi/boards/adafruit_itsybitsy_rp2040/pins.c
Labels: rp2

#4685 Add AuthMode class
  ports/esp32s2/common-hal/wifi/Network.c
  py/circuitpy_defns.mk
  shared-bindings/wifi/AuthMode.c
  shared-bindings/wifi/AuthMode.h
Labels: breaks api, network
