Repository adafruit/circuitpython, pull requests merged in 2021-07, with the labels that each got.

#4966 Adafruit Macropad RP2040: Fix SPI definition
  ports/raspberrypi/boards/adafruit_macropad_rp2040/pins.c
Labels: board, rp2

#4936 supervisor: Add a function to get "wrapping" milliseconds
  shared-bindings/supervisor/__init__.c
Labels: advanced api, enhancement

#4999 ESP32S2: Fix PWM timer leak and variable frequency conflicts
  locale/circuitpython.pot
  ports/esp32s2/common-hal/pwmio/PWMOut.c
  shared-bindings/pwmio/PWMOut.c
Labels: bug, esp32s2

#5006 ScanEntry.matches() kwarg all -> match_all
  shared-bindings/_bleio/ScanEntry.c
  shared-bindings/_bleio/ScanEntry.h
  shared-module/_bleio/ScanEntry.c
Labels: ble, circuitpython api

#5024 Don't blink blue on non-BLE workflow boards
  ports/nrf/common-hal/_bleio/Service.c
  supervisor/shared/bluetooth/bluetooth.c
Labels: ble

#5026 Fix crash when UART construct fails
  locale/circuitpython.pot
  ports/atmel-samd/common-hal/busio/I2C.c
  ports/atmel-samd/common-hal/busio/SPI.c
  ports/atmel-samd/common-hal/busio/UART.c
Labels: atmel-samd, crash

#5035 Fix Arduino RP2040 flash size
  ports/raspberrypi/Makefile
  ports/raspberrypi/flash_info.h.jinja
  ports/raspberrypi/gen_stage2.py
  ports/raspberrypi/supervisor/internal_flash.c
Labels: rp2

#5036 Remove OSError(0) and old network modules
  docs/redirects.txt
  docs/shared_bindings_matrix.py
  main.c
  ports/atmel-samd/Makefile
  ports/atmel-samd/background.c
  ports/atmel-samd/mpconfigport.mk
  ports/esp32s2/common-hal/socketpool/Socket.c
  ports/esp32s2/common-hal/ssl/SSLSocket.c
  ports/mimxrt10xx/Makefile
  ports/nrf/Makefile
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.h
  py/circuitpy_mpconfig.mk
  shared-bindings/network/__init__.c
  shared-bindings/network/__init__.h
  shared-bindings/socket/__init__.c
  shared-bindings/socketpool/Socket.c
  shared-bindings/socketpool/Socket.h
  shared-bindings/socketpool/SocketPool.c
  shared-bindings/ssl/SSLSocket.c
  shared-bindings/ssl/SSLSocket.h
  shared-bindings/wiznet/__init__.c
  shared-bindings/wiznet/wiznet5k.c
  shared-module/network/__init__.c
  shared-module/network/__init__.h
  shared-module/socket/__init__.c
  shared-module/wiznet/__init__.c
  shared-module/wiznet/wiznet5k.c
  shared-module/wiznet/wiznet5k.h
  supervisor/shared/tick.c
Labels: breaks api, network

#5052 Support multiple status neopixels
  ports/atmel-samd/boards/circuitplayground_express/mpconfigboard.h
  ports/atmel-samd/boards/circuitplayground_express_crickit/mpconfigboard.h
  ports/atmel-samd/boards/circuitplayground_express_displayio/mpconfigboard.h
  ports/nrf/boards/circuitplayground_bluefruit/board.c
  ports/nrf/boards/circuitplayground_bluefruit/mpconfigboard.h
  supervisor/shared/status_leds.c
Labels: atmel-samd, enhancement, nrf52, supervisor

#5074 Fix a couple fake sleep bugs on nrf and esp
  lib/utils/pyexec.c
  ports/esp32s2/common-hal/alarm/__init__.c
  ports/esp32s2/supervisor/usb.c
  ports/nrf/common-hal/_bleio/Adapter.c
  ports/nrf/common-hal/alarm/__init__.c
  ports/nrf/common-hal/alarm/time/TimeAlarm.c
Labels: bug, esp32s2, nrf52, power

#5083 STM32: add SleepMemory
  ports/stm/common-hal/alarm/SleepMemory.c
Labels: power, stm
