Repository adafruit/circuitpython, pull requests merged in 2022-02, with the labels that each got.

#5957 Fix BLE scanning forever on ESP32-S3
  ports/espressif/common-hal/_bleio/Adapter.c
Labels: bug, espressif, ble, esp32-s3, esp32-c3

#5996 WiFi Monitor: improve channel validation
  shared-bindings/wifi/Monitor.c
Labels: espressif

#6011 Explain read and write size to/from PIO FIFOs
  ports/raspberrypi/bindings/rp2pio/StateMachine.c
Labels: enhancement, documentation, rp2

#6021 Increase max LWIP sockets on ESP32-S3
  ports/espressif/esp-idf-config/sdkconfig-esp32s3.defaults
Labels: espressif, esp32-s3

#6022 wifi.radio.start_ap() new kwarg: max_connections
  locale/circuitpython.pot
  ports/espressif/common-hal/wifi/Radio.c
  shared-bindings/wifi/Radio.c
  shared-bindings/wifi/Radio.h
Labels: espressif

#6034 Tweak I2C and TFT power pin defaults
  ports/espressif/boards/adafruit_feather_esp32s2/board.c
  ports/espressif/boards/adafruit_feather_esp32s2_tft/board.c
  ports/espressif/common-hal/microcontroller/Pin.c
  ports/espressif/common-hal/microcontroller/Pin.h
Labels: power, espressif, board

#6054 Don't update status LED color on brightness change
  shared-bindings/supervisor/__init__.c
  supervisor/shared/status_leds.c
Labels: bug, crash, supervisor

#6057 Allow ESP boards to customize how a pin is reset
  ports/espressif/boards/adafruit_feather_esp32s2_tft/board.c
  ports/espressif/boards/adafruit_magtag_2.9_grayscale/board.c
  ports/espressif/boards/microdev_micro_s2/board.c
  ports/espressif/common-hal/microcontroller/Pin.c
  ports/espressif/common-hal/microcontroller/Pin.h
Labels: espressif

#6048 Fix atmel-samd alarm module
  ports/atmel-samd/boards/seeeduino_wio_terminal/board.c
  ports/atmel-samd/common-hal/alarm/SleepMemory.c
  ports/atmel-samd/common-hal/alarm/SleepMemory.h
  ports/atmel-samd/common-hal/alarm/__init__.c
  ports/atmel-samd/common-hal/alarm/__init__.h
  ports/atmel-samd/common-hal/alarm/pin/PinAlarm.c
  ports/atmel-samd/common-hal/alarm/pin/PinAlarm.h
  ports/atmel-samd/common-hal/alarm/time/TimeAlarm.c
Labels: atmel-samd, power
