Repository adafruit/circuitpython, pull requests merged in 2022-09, with the labels that each got.

#6846 Fix UART documentation
  shared-bindings/busio/UART.c
Labels: documentation

#6854 Add info and link for Web Workflow /code/ page
  docs/workflows.md
  supervisor/shared/web_workflow/static/welcome.html
Labels: web workflow

#6681 Adds support for the Challenger RP2040 SubGHz board
  ports/raspberrypi/boards/challenger_rp2040_subghz/board.c
  ports/raspberrypi/boards/challenger_rp2040_subghz/mpconfigboard.h
  ports/raspberrypi/boards/challenger_rp2040_subghz/mpconfigboard.mk
  ports/raspberrypi/boards/challenger_rp2040_subghz/pico-sdk-configboard.h
  ports/raspberrypi/boards/challenger_rp2040_subghz/pins.c
Labels: board

#6886 Fix espressif run modes
  ports/espressif/common-hal/microcontroller/__init__.c
Labels: bug, espressif

#6888 Update board MicroDev microC3
  ports/espressif/boards/microdev_micro_c3/mpconfigboard.h
  ports/espressif/boards/microdev_micro_c3/mpconfigboard.mk
  ports/espressif/boards/microdev_micro_c3/sdkconfig
Labels: enhancement, espressif, board

#6900 Doc/add more documentation
  shared-bindings/aesio/__init__.c
  shared-bindings/audioio/__init__.c
  shared-bindings/canio/__init__.c
  shared-bindings/countio/__init__.c
  shared-bindings/rotaryio/__init__.c
Labels: documentation

#6757 analogbufio
  locale/circuitpython.pot
  ports/raspberrypi/common-hal/analogbufio/BufferedIn.c
  ports/raspberrypi/common-hal/analogbufio/BufferedIn.h
  ports/raspberrypi/common-hal/analogbufio/__init__.c
  ports/raspberrypi/mpconfigport.mk
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.mk
  shared-bindings/analogbufio/BufferedIn.c
  shared-bindings/analogbufio/BufferedIn.h
  shared-bindings/analogbufio/__init__.c
  shared-bindings/analogbufio/__init__.h
Labels: enhancement, circuitpython api

#6247 Add supervisor.set_usb_identification(manufacturer, product, vid, pid) function
  ports/atmel-samd/mpconfigport.mk
  py/circuitpy_mpconfig.mk
  shared-bindings/supervisor/__init__.c
  supervisor/shared/usb/usb.c
  supervisor/shared/usb/usb_desc.c
  supervisor/usb.h
Labels: enhancement, usb
