Repository adafruit/circuitpython, pull requests merged in 2022-01, with the labels that each got.

#5853 Split out target specific configs.
  ports/espressif/Makefile
  ports/espressif/boards/adafruit_feather_esp32s2/sdkconfig
  ports/espressif/boards/adafruit_feather_esp32s2_tft/sdkconfig
  ports/espressif/boards/adafruit_feather_esp32s2_tftback_nopsram/sdkconfig
  ports/espressif/boards/adafruit_funhouse/sdkconfig
  ports/espressif/boards/adafruit_magtag_2.9_grayscale/sdkconfig
  ports/espressif/boards/adafruit_metro_esp32s2/sdkconfig
  ports/espressif/boards/adafruit_qtpy_esp32s2/sdkconfig
  ports/espressif/boards/ai_thinker_esp_12k_nodemcu/sdkconfig
  ports/espressif/boards/artisense_rd00/sdkconfig
  ports/espressif/boards/atmegazero_esp32s2/sdkconfig
  ports/espressif/boards/crumpspace_crumps2/sdkconfig
  ports/espressif/boards/electroniccats_bastwifi/sdkconfig
  ports/espressif/boards/espressif_esp32s3_box/sdkconfig
  ports/espressif/boards/espressif_esp32s3_devkitc_1_n8/sdkconfig
  ports/espressif/boards/espressif_esp32s3_devkitc_1_n8r2/sdkconfig
  ports/espressif/boards/espressif_esp32s3_devkitc_1_n8r8/sdkconfig
  ports/espressif/boards/espressif_hmi_devkit_1/sdkconfig
  ports/espressif/boards/espressif_kaluga_1.3/sdkconfig
  ports/espressif/boards/espressif_kaluga_1/sdkconfig
  ports/espressif/boards/espressif_saola_1_wroom/sdkconfig
  ports/espressif/boards/espressif_saola_1_wrover/sdkconfig
  ports/espressif/boards/franzininho_wifi_wroom/sdkconfig
  ports/espressif/boards/franzininho_wifi_wrover/sdkconfig
  ports/espressif/boards/gravitech_cucumber_m/sdkconfig
  ports/espressif/boards/gravitech_cucumber_ms/sdkconfig
  ports/espressif/boards/gravitech_cucumber_r/sdkconfig
  ports/espressif/boards/gravitech_cucumber_rs/sdkconfig
  ports/espressif/boards/lilygo_ttgo_t8_s2_st7789/sdkconfig
  ports/espressif/boards/lolin_s2_mini/sdkconfig
  ports/espressif/boards/lolin_s2_pico/sdkconfig
  ports/espressif/boards/microdev_micro_s2/sdkconfig
  ports/espressif/boards/morpheans_morphesp-240/sdkconfig
  ports/espressif/boards/muselab_nanoesp32_s2_wroom/sdkconfig
  ports/espressif/boards/muselab_nanoesp32_s2_wrover/sdkconfig
  ports/espressif/boards/odt_pixelwing_esp32_s2/sdkconfig
  ports/espressif/boards/targett_module_clip_wroom/sdkconfig
  ports/espressif/boards/targett_module_clip_wrover/sdkconfig
  ports/espressif/boards/unexpectedmaker_feathers2/sdkconfig
  ports/espressif/boards/unexpectedmaker_feathers2_neo/sdkconfig
  ports/espressif/boards/unexpectedmaker_feathers2_prerelease/sdkconfig
  ports/espressif/boards/unexpectedmaker_tinys2/sdkconfig
  ports/espressif/esp-idf-config/sdkconfig-16MB.defaults
  ports/espressif/esp-idf-config/sdkconfig-4MB.defaults
  ports/espressif/esp-idf-config/sdkconfig-8MB.defaults
  ports/espressif/esp-idf-config/sdkconfig-debug.defaults
  ports/espressif/esp-idf-config/sdkconfig-esp32c3.defaults
  ports/espressif/esp-idf-config/sdkconfig-esp32s2.defaults
  ports/espressif/esp-idf-config/sdkconfig-esp32s3.defaults
  ports/espressif/esp-idf-config/sdkconfig-opt.defaults
  ports/espressif/esp-idf-config/sdkconfig.defaults
  ports/espressif/supervisor/usb.c
  ports/espressif/tools/generate_all_sdkconfig.py
  ports/espressif/tools/update_sdkconfig.py
Labels: espressif

#5860 Switch CP to core 1 on S3
  ports/espressif/esp-idf-config/sdkconfig-esp32s3.defaults
  ports/espressif/esp-idf-config/sdkconfig.defaults
  ports/espressif/tools/update_sdkconfig.py
Labels: espressif, esp32-s3

#5884 Increase S3 without PSRAM heap size and fix S2 builds
  ports/espressif/esp-idf-config/sdkconfig-esp32s2.defaults
  ports/espressif/esp-idf-config/sdkconfig-esp32s3.defaults
  ports/espressif/esp-idf-config/sdkconfig-opt.defaults
  ports/espressif/esp-idf-config/sdkconfig.defaults
  ports/espressif/supervisor/port.c
  ports/espressif/tools/update_sdkconfig.py
Labels: enhancement, espressif, esp32-s3, esp32-c3

#5885 Add Espressif C3 dev board
  ports/espressif/boards/espressif_esp32c3_devkitm_1_n4/board.c
  ports/espressif/boards/espressif_esp32c3_devkitm_1_n4/mpconfigboard.h
  ports/espressif/boards/espressif_esp32c3_devkitm_1_n4/mpconfigboard.mk
  ports/espressif/boards/espressif_esp32c3_devkitm_1_n4/pins.c
  ports/espressif/boards/espressif_esp32c3_devkitm_1_n4/sdkconfig
  tools/build_board_info.py
Labels: board, esp32-c3

#5888 Ensure supervisor_tick is run on the same core as CP
  ports/espressif/Makefile
  ports/espressif/supervisor/port.c
Labels: bug, espressif, esp32-s3

#5892 ESP NeoPixel fixes
  ports/atmel-samd/common-hal/neopixel_write/__init__.c
  ports/espressif/common-hal/microcontroller/Pin.c
  ports/espressif/common-hal/neopixel_write/__init__.c
  ports/raspberrypi/common-hal/neopixel_write/__init__.c
  supervisor/shared/status_leds.c
Labels: bug, espressif

#5894 Refactor pin reset on ESP
  ports/espressif/boards/adafruit_esp32s2_camera/board.c
  ports/espressif/boards/adafruit_esp32s2_camera/mpconfigboard.h
  ports/espressif/boards/adafruit_feather_esp32s2/board.c
  ports/espressif/boards/adafruit_feather_esp32s2/mpconfigboard.h
  ports/espressif/boards/adafruit_feather_esp32s2_tft/board.c
  ports/espressif/boards/adafruit_feather_esp32s2_tft/mpconfigboard.h
  ports/espressif/boards/adafruit_feather_esp32s2_tftback_nopsram/board.c
  ports/espressif/boards/adafruit_feather_esp32s2_tftback_nopsram/mpconfigboard.h
  ports/espressif/boards/adafruit_funhouse/board.c
  ports/espressif/boards/adafruit_funhouse/mpconfigboard.h
  ports/espressif/boards/adafruit_magtag_2.9_grayscale/board.c
  ports/espressif/boards/adafruit_magtag_2.9_grayscale/mpconfigboard.h
  ports/espressif/boards/adafruit_metro_esp32s2/board.c
  ports/espressif/boards/adafruit_metro_esp32s2/mpconfigboard.h
  ports/espressif/boards/adafruit_qtpy_esp32s2/board.c
  ports/espressif/boards/adafruit_qtpy_esp32s2/mpconfigboard.h
  ports/espressif/boards/adafruit_qtpy_esp32s3_nopsram/board.c
  ports/espressif/boards/adafruit_qtpy_esp32s3_nopsram/mpconfigboard.h
  ports/espressif/boards/ai_thinker_esp32-c3s/board.c
  ports/espressif/boards/ai_thinker_esp_12k_nodemcu/board.c
  ports/espressif/boards/artisense_rd00/board.c
  ports/espressif/boards/atmegazero_esp32s2/board.c
  ports/espressif/boards/crumpspace_crumps2/board.c
  ports/espressif/boards/electroniccats_bastwifi/board.c
  ports/espressif/boards/espressif_esp32c3_devkitm_1_n4/board.c
  ports/espressif/boards/espressif_esp32s3_box/board.c
  ports/espressif/boards/espressif_esp32s3_devkitc_1_n8/board.c
  ports/espressif/boards/espressif_esp32s3_devkitc_1_n8r2/board.c
  ports/espressif/boards/espressif_esp32s3_devkitc_1_n8r8/board.c
  ports/espressif/boards/espressif_hmi_devkit_1/board.c
  ports/espressif/boards/espressif_kaluga_1.3/board.c
  ports/espressif/boards/espressif_kaluga_1/board.c
  ports/espressif/boards/espressif_saola_1_wroom/board.c
  ports/espressif/boards/espressif_saola_1_wrover/board.c
  ports/espressif/boards/franzininho_wifi_wroom/board.c
  ports/espressif/boards/franzininho_wifi_wrover/board.c
  ports/espressif/boards/gravitech_cucumber_m/board.c
  ports/espressif/boards/gravitech_cucumber_ms/board.c
  ports/espressif/boards/gravitech_cucumber_r/board.c
  ports/espressif/boards/gravitech_cucumber_rs/board.c
  ports/espressif/boards/lilygo_ttgo_t8_s2_st7789/board.c
  ports/espressif/boards/lolin_s2_mini/board.c
  ports/espressif/boards/lolin_s2_pico/board.c
  ports/espressif/boards/microdev_micro_c3/board.c
  ports/espressif/boards/microdev_micro_s2/board.c
  ports/espressif/boards/morpheans_morphesp-240/board.c
  ports/espressif/boards/muselab_nanoesp32_s2_wroom/board.c
  ports/espressif/boards/muselab_nanoesp32_s2_wrover/board.c
  ports/espressif/boards/odt_pixelwing_esp32_s2/board.c
  ports/espressif/boards/targett_module_clip_wroom/board.c
  ports/espressif/boards/targett_module_clip_wrover/board.c
  ports/espressif/boards/unexpectedmaker_feathers2/board.c
  ports/espressif/boards/unexpectedmaker_feathers2_neo/board.c
  ports/espressif/boards/unexpectedmaker_feathers2_prerelease/board.c
  ports/espressif/boards/unexpectedmaker_tinys2/board.c
  ports/espressif/common-hal/microcontroller/Pin.c
  ports/espressif/esp-idf-config/sdkconfig-debug.defaults
Labels: bug, espressif, esp32-s3, esp32-c3

#5880 Request ROM bootloader when resetting using the 'serial trick'
  ports/espressif/supervisor/port.c
Labels: espressif

#5422 Allow multiple board buses
  main.c
  ports/atmel-samd/boards/hallowing_m0_express/board.c
  ports/atmel-samd/boards/ugame10/board.c
  ports/espressif/boards/adafruit_esp32s2_camera/board.c
  ports/espressif/boards/adafruit_feather_esp32s2_tft/board.c
  ports/raspberrypi/boards/adafruit_qtpy_rp2040/mpconfigboard.h
  ports/raspberrypi/boards/adafruit_qtpy_rp2040/pins.c
  py/circuitpy_mpconfig.h
  shared-bindings/board/__init__.c
  shared-bindings/board/__init__.h
  shared-module/board/__init__.c
  shared-module/board/__init__.h
  shared-module/displayio/__init__.c
  shared-module/sharpdisplay/SharpMemoryFramebuffer.c
Labels: enhancement, circuitpython api, board

#5899 Add winbond to Feather RP2040
  ports/raspberrypi/boards/adafruit_feather_rp2040/mpconfigboard.mk
Labels: rp2

#5902 Only make CIRCUITPY readonly with USB
  main.c
Labels: supervisor, usb

#5874 Update EPaperDisplay to allow for two byte sequence length
  ports/atmel-samd/boards/openbook_m4/board.c
  ports/espressif/boards/adafruit_magtag_2.9_grayscale/board.c
  shared-bindings/displayio/EPaperDisplay.c
  shared-bindings/displayio/EPaperDisplay.h
  shared-module/displayio/EPaperDisplay.c
  shared-module/displayio/EPaperDisplay.h
Labels: enhancement, displayio

#5922 Automatically cancel superseded CI build of PR
  .github/workflows/build.yml
  .github/workflows/ports_windows.yml
  .github/workflows/pre-commit.yml
Labels: enhancement, tooling

#5921 Return default cpu frequency on espressif
  ports/espressif/common-hal/microcontroller/Processor.c
Labels: enhancement, espressif

#5936 Support BLE advertising on ESP
  locale/circuitpython.pot
  ports/espressif/Makefile
  ports/espressif/common-hal/_bleio/Adapter.c
  ports/espressif/common-hal/_bleio/Adapter.h
  ports/espressif/common-hal/_bleio/Connection.c
  ports/espressif/common-hal/_bleio/Connection.h
  ports/espressif/common-hal/_bleio/UUID.c
  ports/espressif/common-hal/_bleio/__init__.c
  ports/espressif/common-hal/_bleio/__init__.h
Labels: enhancement, espressif, ble, esp32-s3, esp32-c3
