Repository adafruit/circuitpython, pull requests merged in 2022-07, with the labels that each got.

#6528 Add web workflow to ESP boards
  docs/index.rst
  docs/workflows.md
  ports/espressif/background.c
  ports/espressif/boards/espressif_esp32s3_box/mpconfigboard.mk
  ports/espressif/common-hal/mdns/RemoteService.c
  ports/espressif/common-hal/mdns/Server.c
  ports/espressif/common-hal/socketpool/Socket.c
  ports/espressif/common-hal/socketpool/SocketPool.c
  ports/espressif/common-hal/wifi/Radio.c
  ports/espressif/common-hal/wifi/__init__.c
  ports/espressif/esp-idf-config/sdkconfig.defaults
  ports/espressif/fatfs_port.c
  shared-bindings/mdns/RemoteService.c
  shared-bindings/mdns/RemoteService.h
  shared-bindings/mdns/Server.c
  shared-bindings/mdns/Server.h
  shared-bindings/socketpool/Socket.c
  shared-bindings/socketpool/Socket.h
  shared-bindings/socketpool/SocketPool.h
  supervisor/shared/reload.h
  supervisor/shared/web_workflow/static/blinka_16x16.ico
  supervisor/shared/web_workflow/static/directory.html
  supervisor/shared/web_workflow/static/directory.js
  supervisor/shared/web_workflow/static/welcome.html
  supervisor/shared/web_workflow/static/welcome.js
  supervisor/shared/web_workflow/web_workflow.c
  supervisor/shared/web_workflow/web_workflow.h
  supervisor/supervisor.mk
  tools/gen_web_workflow_static.py
Labels: supervisor, network, espressif

#6256 Wemos Lolin C3 Mini Board
  ports/espressif/boards/lolin_c3_mini/board.c
  ports/espressif/boards/lolin_c3_mini/mpconfigboard.h
  ports/espressif/boards/lolin_c3_mini/mpconfigboard.mk
  ports/espressif/boards/lolin_c3_mini/pins.c
  ports/espressif/boards/lolin_c3_mini/sdkconfig
  tools/build_board_info.py
Labels: board

#6584 Add WebSocket at /cp/serial/
  docs/library/hashlib.rst
  docs/workflows.md
  locale/circuitpython.pot
  ports/espressif/common-hal/hashlib/Hash.c
  ports/espressif/common-hal/hashlib/Hash.h
  ports/espressif/common-hal/hashlib/__init__.c
  ports/espressif/mpconfigport.mk
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.mk
  requirements-dev.txt
  shared-bindings/hashlib/Hash.c
  shared-bindings/hashlib/Hash.h
  shared-bindings/hashlib/__init__.c
  shared-bindings/hashlib/__init__.h
  supervisor/shared/serial.c
  supervisor/shared/web_workflow/static/serial.html
  supervisor/shared/web_workflow/static/serial.js
  supervisor/shared/web_workflow/static/welcome.html
  supervisor/shared/web_workflow/web_workflow.c
  supervisor/shared/web_workflow/websocket.c
  supervisor/shared/web_workflow/websocket.h
  supervisor/supervisor.mk
  tools/gen_web_workflow_static.py
Labels: supervisor, espressif

#6660 Improve USB to Serial/JTAG TX
  ports/espressif/supervisor/usb_serial_jtag.c
Labels: esp32-c3
