Repository adafruit/circuitpython, pull requests merged in 2022-10, with the labels that each got.

#6980 Implement certain supervisor functions as properties
  shared-bindings/supervisor/Runtime.c
  shared-bindings/supervisor/__init__.c
  supervisor/shared/bluetooth/bluetooth.c
  supervisor/shared/bluetooth/bluetooth.h
  supervisor/shared/stack.c
  supervisor/shared/stack.h
  supervisor/shared/status_leds.c
  supervisor/shared/status_leds.h
Labels: enhancement, circuitpython api, supervisor

#7036 CI: Update to newer actions
  .github/workflows/build.yml
  .github/workflows/create_website_pr.yml
  .github/workflows/ports_windows.yml
  .github/workflows/pre-commit.yml
Labels: enhancement, tooling

#6410 Add support for VCC-GND Studio YD-RP2040
  ports/raspberrypi/boards/vcc_gnd_yd_rp2040/board.c
  ports/raspberrypi/boards/vcc_gnd_yd_rp2040/mpconfigboard.h
  ports/raspberrypi/boards/vcc_gnd_yd_rp2040/mpconfigboard.mk
  ports/raspberrypi/boards/vcc_gnd_yd_rp2040/pico-sdk-configboard.h
  ports/raspberrypi/boards/vcc_gnd_yd_rp2040/pins.c
Labels: board

#7000 Add Storage Extension Support
  locale/circuitpython.pot
  ports/espressif/common-hal/dualbank/__init__.c
  ports/espressif/supervisor/internal_flash.c
  py/circuitpy_mpconfig.mk
  shared-bindings/dualbank/__init__.c
  shared-bindings/storage/__init__.c
  shared-bindings/storage/__init__.h
  shared-module/storage/__init__.c
  supervisor/flash.h
  supervisor/shared/filesystem.c
Labels: enhancement, circuitpython api, espressif

#6923 Added utime() to the os library
  extmod/vfs_fat.c
  ports/atmel-samd/boards/arduino_mkr1300/mpconfigboard.mk
  ports/atmel-samd/boards/arduino_nano_33_iot/mpconfigboard.mk
  ports/atmel-samd/boards/feather_m0_rfm69/mpconfigboard.mk
  ports/atmel-samd/boards/pewpew_m4/mpconfigboard.mk
  ports/atmel-samd/boards/sparkfun_redboard_turbo/mpconfigboard.mk
  shared-bindings/os/__init__.c
  shared-bindings/os/__init__.h
  shared-module/os/__init__.c
Labels: enhancement, cpython api

#7061 Improve `dualbank` errors
  locale/circuitpython.pot
  ports/espressif/common-hal/dualbank/__init__.c
Labels: enhancement, circuitpython api, espressif

#7073 Fix 2/4MB Partition Tables & Makefile
  ports/espressif/Makefile
  ports/espressif/boards/ai_thinker_esp32-c3s-2m/mpconfigboard.mk
  ports/espressif/esp-idf-config/partitions-2MB-no-ota-no-uf2.csv
  ports/espressif/esp-idf-config/partitions-4MB-no-uf2.csv
  ports/espressif/esp-idf-config/sdkconfig-2MB-no-ota-no-uf2.defaults
  ports/espressif/esp-idf-config/sdkconfig-esp32.defaults
Labels: bug, tooling, espressif

#6902 Add `coproc` module
  locale/circuitpython.pot
  ports/espressif/CMakeLists.txt
  ports/espressif/Makefile
  ports/espressif/common-hal/coproc/Coproc.c
  ports/espressif/common-hal/coproc/Coproc.h
  ports/espressif/common-hal/coproc/CoprocMemory.c
  ports/espressif/common-hal/coproc/CoprocMemory.h
  ports/espressif/common-hal/coproc/__init__.c
  ports/espressif/esp-idf-config/sdkconfig-esp32s2.defaults
  ports/espressif/esp-idf-config/sdkconfig-esp32s3.defaults
  ports/espressif/mpconfigport.mk
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.mk
  shared-bindings/coproc/Coproc.c
  shared-bindings/coproc/Coproc.h
  shared-bindings/coproc/CoprocMemory.c
  shared-bindings/coproc/CoprocMemory.h
  shared-bindings/coproc/__init__.c
  shared-bindings/coproc/__init__.h
Labels: enhancement, circuitpython api

#7094 Update espressif build configuration
  ports/espressif/Makefile
  ports/espressif/mpconfigport.mk
Labels: bug, enhancement, espressif

#7100 Fix USB issues caused by early usb_cdc.Serial read
  shared-module/usb_cdc/Serial.c
Labels: bug, usb

#7102 Coproc Module Enhancements
  locale/circuitpython.pot
  ports/espressif/common-hal/alarm/coproc/CoprocAlarm.c
  ports/espressif/common-hal/coproc/Coproc.c
  ports/espressif/common-hal/coproc/__init__.c
  ports/espressif/esp-idf-config/sdkconfig-esp32s2.defaults
  ports/espressif/esp-idf-config/sdkconfig-esp32s3.defaults
  shared-bindings/coproc/__init__.c
  shared-bindings/coproc/__init__.h
Labels: enhancement, espressif, alarms and sleep

#7099 Add M5Stack Stamp C3 Board
  ports/espressif/boards/m5stack_stamp_c3/board.c
  ports/espressif/boards/m5stack_stamp_c3/mpconfigboard.h
  ports/espressif/boards/m5stack_stamp_c3/mpconfigboard.mk
  ports/espressif/boards/m5stack_stamp_c3/pins.c
  ports/espressif/boards/m5stack_stamp_c3/sdkconfig
Labels: board, esp32-c3

#7143 Espressif add back `ESP32_CAMERA`
  ports/espressif/mpconfigport.mk
Labels: espressif
