Repository adafruit/circuitpython, pull requests merged in 2022-08, with the labels that each got.

#6680 fix edit URL for files inside of directories
  supervisor/shared/web_workflow/static/directory.js
Labels: web workflow

#6697 Switch to temporary redirect for cp.local
  supervisor/shared/web_workflow/web_workflow.c
Labels: web workflow

#6708 Added Smart Bee Design Boards
  ports/espressif/boards/smartbeedesigns_bee_motion_s3/board.c
  ports/espressif/boards/smartbeedesigns_bee_motion_s3/mpconfigboard.h
  ports/espressif/boards/smartbeedesigns_bee_motion_s3/mpconfigboard.mk
  ports/espressif/boards/smartbeedesigns_bee_motion_s3/pins.c
  ports/espressif/boards/smartbeedesigns_bee_motion_s3/sdkconfig
  ports/espressif/boards/smartbeedesigns_bee_s3/board.c
  ports/espressif/boards/smartbeedesigns_bee_s3/mpconfigboard.h
  ports/espressif/boards/smartbeedesigns_bee_s3/mpconfigboard.mk
  ports/espressif/boards/smartbeedesigns_bee_s3/pins.c
  ports/espressif/boards/smartbeedesigns_bee_s3/sdkconfig
Labels: board

#6730 Remove all kwarg from ScanEntry.matches
  shared-bindings/_bleio/ScanEntry.c
Labels: breaks api

#6734 Remove support for auto-brightness
  ports/atmel-samd/boards/hallowing_m0_express/board.c
  ports/atmel-samd/boards/hallowing_m4_express/board.c
  ports/atmel-samd/boards/monster_m4sk/board.c
  ports/atmel-samd/boards/pewpew_lcd/board.c
  ports/atmel-samd/boards/pewpew_m4/board.c
  ports/atmel-samd/boards/pybadge/board.c
  ports/atmel-samd/boards/pygamer/board.c
  ports/atmel-samd/boards/pyportal/board.c
  ports/atmel-samd/boards/pyportal_titano/board.c
  ports/atmel-samd/boards/seeeduino_wio_terminal/board.c
  ports/atmel-samd/boards/ugame10/board.c
  ports/espressif/boards/adafruit_esp32s2_camera/board.c
  ports/espressif/boards/adafruit_feather_esp32s2_tft/board.c
  ports/espressif/boards/adafruit_feather_esp32s2_tftback_nopsram/board.c
  ports/espressif/boards/adafruit_feather_esp32s3_tft/board.c
  ports/espressif/boards/adafruit_funhouse/board.c
  ports/espressif/boards/espressif_esp32s3_box/board.c
  ports/espressif/boards/espressif_esp32s3_box_lite/board.c
  ports/espressif/boards/espressif_esp32s3_eye/board.c
  ports/espressif/boards/espressif_esp32s3_usb_otg_n8/board.c
  ports/espressif/boards/hardkernel_odroid_go/board.c
  ports/espressif/boards/hexky_s2/board.c
  ports/espressif/boards/hiibot_iots2/board.c
  ports/espressif/boards/lilygo_ttgo_t8_s2_st7789/board.c
  ports/espressif/boards/morpheans_morphesp-240/board.c
  ports/nrf/boards/clue_nrf52840_express/board.c
  ports/nrf/boards/hiibot_bluefi/board.c
  ports/nrf/boards/makerdiary_nrf52840_m2_devkit/board.c
  ports/nrf/boards/ohs2020_badge/board.c
  ports/raspberrypi/boards/adafruit_macropad_rp2040/board.c
  ports/raspberrypi/boards/pimoroni_picosystem/board.c
  ports/stm/boards/meowbit_v121/board.c
  shared-bindings/displayio/Display.c
  shared-bindings/displayio/Display.h
  shared-bindings/displayio/OnDiskBitmap.c
  shared-bindings/framebufferio/FramebufferDisplay.c
  shared-bindings/framebufferio/FramebufferDisplay.h
  shared-module/displayio/Display.c
  shared-module/displayio/Display.h
  shared-module/framebufferio/FramebufferDisplay.c
  shared-module/framebufferio/FramebufferDisplay.h
Labels: breaks api

#6758 Rp2040 i2ctarget support
  ports/raspberrypi/common-hal/i2ctarget/I2CTarget.c
  ports/raspberrypi/common-hal/i2ctarget/I2CTarget.h
  ports/raspberrypi/common-hal/i2ctarget/__init__.c
  ports/raspberrypi/mpconfigport.mk
Labels: enhancement, rp2

#6787 Add serial number to version.json (as UID)
  supervisor/shared/web_workflow/web_workflow.c
Labels: web workflow

#6767 shared-module/usb_hid: Fix behavior of Device.get_last_received_report()
  shared-module/usb_hid/Device.c
  shared-module/usb_hid/Device.h
Labels: usb

#6807 Allow Move/Rename to be called from localhost
  docs/workflows.md
  supervisor/shared/web_workflow/web_workflow.c
Labels: web workflow

#6814 Fix type annotation in adafruit_bus_device.SPIDevice.__init__()
  shared-bindings/adafruit_bus_device/spi_device/SPIDevice.c
Labels: bug, documentation

#6826 Update formatting of `LICENSE` and clean-up
  LICENSE
  LICENSE_MicroPython
  docs/LICENSE.md
  docs/index.rst
Labels: enhancement, documentation
