Repository adafruit/circuitpython, pull requests merged in 2023-01, with the labels that each got.

#7153 feat: Add support for Waveshare RP2040-LCD-1.28
  ports/raspberrypi/boards/waveshare_rp2040_lcd_1_28/board.c
  ports/raspberrypi/boards/waveshare_rp2040_lcd_1_28/mpconfigboard.h
  ports/raspberrypi/boards/waveshare_rp2040_lcd_1_28/mpconfigboard.mk
  ports/raspberrypi/boards/waveshare_rp2040_lcd_1_28/pico-sdk-configboard.h
  ports/raspberrypi/boards/waveshare_rp2040_lcd_1_28/pins.c
Labels: board

#7332 Update `tj-actions` & Revert `fetch-depth` change
  .github/workflows/build.yml
Labels: bug, tooling

#7216 Feather esp32 s23 reverse tft
  ports/espressif/boards/adafruit_feather_esp32s2_reverse_tft/board.c
  ports/espressif/boards/adafruit_feather_esp32s2_reverse_tft/mpconfigboard.h
  ports/espressif/boards/adafruit_feather_esp32s2_reverse_tft/mpconfigboard.mk
  ports/espressif/boards/adafruit_feather_esp32s2_reverse_tft/pins.c
  ports/espressif/boards/adafruit_feather_esp32s2_reverse_tft/sdkconfig
  ports/espressif/boards/adafruit_feather_esp32s3_reverse_tft/board.c
  ports/espressif/boards/adafruit_feather_esp32s3_reverse_tft/mpconfigboard.h
  ports/espressif/boards/adafruit_feather_esp32s3_reverse_tft/mpconfigboard.mk
  ports/espressif/boards/adafruit_feather_esp32s3_reverse_tft/pins.c
  ports/espressif/boards/adafruit_feather_esp32s3_reverse_tft/sdkconfig
Labels: board

#7441 Ignore ESP-IDF wakeup cause when light sleeping
  ports/espressif/common-hal/alarm/__init__.c
Labels: bug, espressif, alarms and sleep

#7423 add support for 0xCB Helios rp2040 controller
  ports/raspberrypi/boards/0xcb_helios/board.c
  ports/raspberrypi/boards/0xcb_helios/mpconfigboard.h
  ports/raspberrypi/boards/0xcb_helios/mpconfigboard.mk
  ports/raspberrypi/boards/0xcb_helios/pico-sdk-configboard.h
  ports/raspberrypi/boards/0xcb_helios/pins.c
Labels: board, rp2

#7428 Multiple CI Enhancements
  .github/workflows/build.yml
  tools/ci_changes_per_commit.py
  tools/ci_fetch_deps.py
  tools/ci_set_matrix.py
Labels: enhancement, tooling

#7458 Remove pins reserved for flash on microC3
  ports/espressif/boards/microdev_micro_c3/pins.c
Labels: board, esp32-c3

#7465 Watch for ctrl-c over BLE workflow serial
  ports/espressif/common-hal/_bleio/CharacteristicBuffer.c
  ports/espressif/common-hal/_bleio/CharacteristicBuffer.h
  ports/nrf/common-hal/_bleio/CharacteristicBuffer.c
  ports/nrf/common-hal/_bleio/CharacteristicBuffer.h
  shared-bindings/_bleio/CharacteristicBuffer.h
  supervisor/shared/bluetooth/serial.c
Labels: bug, ble workflow

#7453 Multiple CI Enhancements
  .github/workflows/build.yml
  .github/workflows/ports_windows.yml
  requirements-ci.txt
  tools/ci_fetch_deps.py
  tools/describe
Labels: enhancement, tooling

#7477 Update CI
  .github/workflows/build.yml
  .github/workflows/create_website_pr.yml
  .github/workflows/ports_windows.yml
  .github/workflows/pre-commit.yml
  tools/ci_fetch_deps.py
Labels: bug, enhancement, tooling

#7493 Update notification workflow
  .github/workflows/notify.yml
Labels: tooling

#7492 Move `esp32_camera` to `espcamera`
  locale/circuitpython.pot
  ports/espressif/CMakeLists.txt
  ports/espressif/Makefile
  ports/espressif/bindings/esp32_camera/Camera.c
  ports/espressif/bindings/espcamera/Camera.c
  ports/espressif/bindings/espcamera/Camera.h
  ports/espressif/bindings/espcamera/__init__.c
  ports/espressif/bindings/espcamera/__init__.h
  ports/espressif/boards/adafruit_feather_esp32s3_4mbflash_2mbpsram/mpconfigboard.mk
  ports/espressif/boards/adafruit_feather_esp32s3_nopsram/mpconfigboard.mk
  ports/espressif/boards/adafruit_feather_esp32s3_tft/mpconfigboard.mk
  ports/espressif/boards/adafruit_feather_huzzah32/mpconfigboard.mk
  ports/espressif/boards/adafruit_funhouse/mpconfigboard.mk
  ports/espressif/boards/adafruit_magtag_2.9_grayscale/mpconfigboard.mk
  ports/espressif/boards/adafruit_qtpy_esp32s3_nopsram/mpconfigboard.mk
  ports/espressif/boards/crcibernetica-ideaboard/mpconfigboard.mk
  ports/espressif/boards/doit_esp32_devkit_v1/mpconfigboard.mk
  ports/espressif/boards/electroniccats_bastwifi/mpconfigboard.mk
  ports/espressif/boards/espressif_esp32s2_devkitc_1_n4/mpconfigboard.mk
  ports/espressif/boards/espressif_esp32s3_box/mpconfigboard.mk
  ports/espressif/boards/espressif_esp32s3_box_lite/mpconfigboard.mk
  ports/espressif/boards/espressif_esp32s3_devkitc_1_n8/mpconfigboard.mk
  ports/espressif/boards/espressif_esp32s3_devkitm_1_n8/mpconfigboard.mk
  ports/espressif/boards/espressif_esp32s3_usb_otg_n8/mpconfigboard.mk
  ports/espressif/boards/espressif_saola_1_wroom/mpconfigboard.mk
  ports/espressif/boards/franzininho_wifi_wroom/mpconfigboard.mk
  ports/espressif/boards/gravitech_cucumber_m/mpconfigboard.mk
  ports/espressif/boards/gravitech_cucumber_ms/mpconfigboard.mk
  ports/espressif/boards/lilygo_ttgo_t8_esp32_s2_wroom/mpconfigboard.mk
  ports/espressif/boards/lolin_s3/mpconfigboard.mk
  ports/espressif/boards/m5stack_atom_echo/mpconfigboard.mk
  ports/espressif/boards/m5stack_atom_lite/mpconfigboard.mk
  ports/espressif/boards/m5stack_atom_matrix/mpconfigboard.mk
  ports/espressif/boards/m5stack_atom_u/mpconfigboard.mk
  ports/espressif/boards/m5stack_core_basic/mpconfigboard.mk
  ports/espressif/boards/m5stack_core_fire/mpconfigboard.mk
  ports/espressif/boards/m5stack_stick_c/mpconfigboard.mk
  ports/espressif/boards/maker_badge/mpconfigboard.mk
  ports/espressif/boards/mixgo_ce_serial/mpconfigboard.mk
  ports/espressif/boards/mixgo_ce_udisk/mpconfigboard.mk
  ports/espressif/boards/morpheans_morphesp-240/mpconfigboard.mk
  ports/espressif/boards/muselab_nanoesp32_s2_wroom/mpconfigboard.mk
  ports/espressif/boards/smartbeedesigns_bee_motion_s3/mpconfigboard.mk
  ports/espressif/boards/smartbeedesigns_bee_s3/mpconfigboard.mk
  ports/espressif/boards/targett_module_clip_wroom/mpconfigboard.mk
  ports/espressif/common-hal/espcamera/Camera.c
  ports/espressif/common-hal/espcamera/Camera.h
  ports/espressif/mpconfigport.mk
  ports/espressif/supervisor/port.c
  py/circuitpy_mpconfig.mk
  shared-bindings/imagecapture/__init__.c
Labels: circuitpython api, espressif

#7499 Use composite action for fetching submodules
  .github/actions/fetch_submodules/action.yml
  .github/workflows/build.yml
  .github/workflows/create_website_pr.yml
  .github/workflows/ports_windows.yml
Labels: enhancement, tooling

#5999 Espressif ESP32-S3 DevKitC-1-N32R8
  ports/espressif/boards/espressif_esp32s3_devkitc_1_n32r8/board.c
  ports/espressif/boards/espressif_esp32s3_devkitc_1_n32r8/mpconfigboard.h
  ports/espressif/boards/espressif_esp32s3_devkitc_1_n32r8/mpconfigboard.mk
  ports/espressif/boards/espressif_esp32s3_devkitc_1_n32r8/pins.c
  ports/espressif/boards/espressif_esp32s3_devkitc_1_n32r8/sdkconfig
  ports/espressif/esp-idf-config/partitions-32MB.csv
  ports/espressif/esp-idf-config/sdkconfig-32MB.defaults
  tools/ci_check_duplicate_usb_vid_pid.py
Labels: board, esp32-s3

#7503 Improve dualbank and storage extension docs
  shared-bindings/dualbank/__init__.c
  shared-bindings/storage/__init__.c
Labels: enhancement, documentation
