Repository adafruit/circuitpython, pull requests merged in 2023-05, with the labels that each got.

#7964 Correct pad count.
  ports/mimxrt10xx/boards/imxrt1010_evk/board.c
  ports/mimxrt10xx/boards/imxrt1015_evk/board.c
  ports/mimxrt10xx/boards/imxrt1020_evk/board.c
  ports/mimxrt10xx/boards/imxrt1040_evk/board.c
  ports/mimxrt10xx/boards/imxrt1050_evkb/board.c
  ports/mimxrt10xx/boards/imxrt1060_evk/board.c
  ports/mimxrt10xx/common-hal/microcontroller/Pin.c
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1011/pins.h
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1015/pins.h
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1021/pins.h
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1042/pins.h
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1052/pins.h
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1062/pins.h
  ports/mimxrt10xx/peripherals/mimxrt10xx/MIMXRT1176/pins.h
  ports/mimxrt10xx/tools/gen_peripherals_data.py
Labels: mimxrt10xx

#6037 Add support for lilygo_t_display_rp2040 board
  ports/raspberrypi/boards/lilygo_t_display_rp2040/board.c
  ports/raspberrypi/boards/lilygo_t_display_rp2040/mpconfigboard.h
  ports/raspberrypi/boards/lilygo_t_display_rp2040/mpconfigboard.mk
  ports/raspberrypi/boards/lilygo_t_display_rp2040/pico-sdk-configboard.h
  ports/raspberrypi/boards/lilygo_t_display_rp2040/pins.c
Labels: board

#7973 Check usb/jtag for incoming chars too
  ports/espressif/supervisor/usb_serial_jtag.c
Labels: bug, esp32-c3
