Repository adafruit/circuitpython, pull requests merged in 2023-11, with the labels that each got.

#8563 Board support for LILYGO T-Deck
  ports/espressif/boards/lilygo_tdeck/board.c
  ports/espressif/boards/lilygo_tdeck/mpconfigboard.h
  ports/espressif/boards/lilygo_tdeck/mpconfigboard.mk
  ports/espressif/boards/lilygo_tdeck/pins.c
  ports/espressif/boards/lilygo_tdeck/sdkconfig
Labels: espressif, board

#8668 Fix websocket input processing
  supervisor/shared/web_workflow/web_workflow.c
Labels: web workflow

#8667 Improve web workflow error handling
  docs/workflows.md
  supervisor/shared/web_workflow/static/directory.html
  supervisor/shared/web_workflow/static/edit.html
  supervisor/shared/web_workflow/static/serial.html
  supervisor/shared/web_workflow/static/welcome.html
  supervisor/shared/web_workflow/web_workflow.c
  supervisor/shared/web_workflow/web_workflow.h
  supervisor/shared/web_workflow/websocket.c
Labels: bug, web workflow
